.avia-section.av-m65exedf-f297d08e6f7ed6243cf5bb2ec0905d63 .av-parallax .av-parallax-inner{
background-repeat:no-repeat;
background-image:url(../../2025/01/Waldgefluester-1.webp);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-m65exedf-f297d08e6f7ed6243cf5bb2ec0905d63 .av-section-color-overlay{
opacity:0.4;
background-color:#0a0808;
}

#top .av-special-heading.av-m65eyoes-29e869e9e7c7a42806db51bf58abe4fd{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-m65eyoes-29e869e9e7c7a42806db51bf58abe4fd .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m65eyoes-29e869e9e7c7a42806db51bf58abe4fd .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-m65eyoes-29e869e9e7c7a42806db51bf58abe4fd .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-m65hfxfe-e68ce287623c500f5e15dc744aa9e856{
height:50px;
}

#top #wrap_all .avia-button.av-m65f4f3s-ac5055c997daab5f04d29ad87e0ec99e{
font-size:16px;
border-style:solid;
border-width:1px 1px 1px 1px;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m65f4f3s-ac5055c997daab5f04d29ad87e0ec99e:hover{
color:#2a3716;
transition:all 0.4s ease-in-out;
}

#top .av_textblock_section.av-m65eyyfr-7b027bceb6ba7b4fef7fd10049d82d98 .avia_textblock{
text-align:justify;
}

#top .togglecontainer.av-m67xc1nq-03080c80773eb22691b6905744252703 p.toggler .toggle_icon{
color:#89a488;
border-color:#89a488;
}
#top .togglecontainer.av-m67xc1nq-03080c80773eb22691b6905744252703 p.toggler .toggle_icon > span{
color:#89a488;
border-color:#89a488;
}

#top .togglecontainer.av-7gzw13-59ebb008d0c5636cd2387e5556b9e319 p.toggler .toggle_icon{
color:#89a488;
border-color:#89a488;
}
#top .togglecontainer.av-7gzw13-59ebb008d0c5636cd2387e5556b9e319 p.toggler .toggle_icon > span{
color:#89a488;
border-color:#89a488;
}

#top .togglecontainer.av-ej5eqv-d9a624bad4c28803fe1fe08a7c50ea5d p.toggler .toggle_icon{
color:#89a488;
border-color:#89a488;
}
#top .togglecontainer.av-ej5eqv-d9a624bad4c28803fe1fe08a7c50ea5d p.toggler .toggle_icon > span{
color:#89a488;
border-color:#89a488;
}

#top .togglecontainer.av-6jioon-7f27c8c1ff1671fe5295a67f04ed204f p.toggler .toggle_icon{
color:#89a488;
border-color:#89a488;
}
#top .togglecontainer.av-6jioon-7f27c8c1ff1671fe5295a67f04ed204f p.toggler .toggle_icon > span{
color:#89a488;
border-color:#89a488;
}

#top .togglecontainer.av-m67xxji7-426a31692ca8a8cdc8d655bd4ee5f860 p.toggler .toggle_icon{
color:#89a488;
border-color:#89a488;
}
#top .togglecontainer.av-m67xxji7-426a31692ca8a8cdc8d655bd4ee5f860 p.toggler .toggle_icon > span{
color:#89a488;
border-color:#89a488;
}

.flex_column.av-xfnnh3-cdcac6b8faac2562333b7587344d33a9{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-wtxrbr-b34669ac951508e42363da4835dafdab img.avia_image{
box-shadow:none;
}
.avia-image-container.av-wtxrbr-b34669ac951508e42363da4835dafdab .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-v1z5t3-3679d8a30e9db70c1aeb9aa958abf265{
height:40px;
}

#top .flex_column.av-tmwt93-069a24ffe9c4c97330a179cee233f686{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-tmwt93-069a24ffe9c4c97330a179cee233f686{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-tmwt93-069a24ffe9c4c97330a179cee233f686{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-r5rkuf-053bb9e98d0e5989f02d86a4895cf411{
height:1px;
}

#top .flex_column.av-p1ot5z-9b35d9ecfc7b8d29e53de8a7193dcadd{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-p1ot5z-9b35d9ecfc7b8d29e53de8a7193dcadd{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-p1ot5z-9b35d9ecfc7b8d29e53de8a7193dcadd{
margin-top:0px;
margin-bottom:0px;
}

#top .av-special-heading.av-nhxcnb-6b6d92e58fac3696c7c35b9efc2b7b4f{
padding-bottom:20px;
}
body .av-special-heading.av-nhxcnb-6b6d92e58fac3696c7c35b9efc2b7b4f .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-nhxcnb-6b6d92e58fac3696c7c35b9efc2b7b4f .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-lxd66f-4841d2ba56c4e399242b80cc61a97209 .avia_textblock{
text-align:justify;
}

#top .flex_column.av-74wsg7-c1aaec1ef529bb61535f84a4f3ce91ed{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-74wsg7-c1aaec1ef529bb61535f84a4f3ce91ed{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-74wsg7-c1aaec1ef529bb61535f84a4f3ce91ed{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-6gxg7b-7058c94efa1422e75969dc885307499c{
height:1px;
}

