.avia-section.av-m65exedf-e74ad119a57c6f61c28d30542003d435 .av-parallax .av-parallax-inner{
background-repeat:no-repeat;
background-image:url(../../2025/01/SR-Ansprache-Torte-Spiel-Sparklers-89-e1737154381424.webp);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-m65exedf-e74ad119a57c6f61c28d30542003d435 .av-section-color-overlay{
opacity:0.4;
background-color:#0a0808;
}

#top .av-special-heading.av-m65eyoes-bdced353995bf953a10ed0bf1cc0f537{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-m65eyoes-bdced353995bf953a10ed0bf1cc0f537 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m65eyoes-bdced353995bf953a10ed0bf1cc0f537 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-m65eyoes-bdced353995bf953a10ed0bf1cc0f537 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-m65hfxfe-e68ce287623c500f5e15dc744aa9e856{
height:50px;
}

#top #wrap_all .avia-button.av-36ryvr-e096ad9970ada0147a1d09b8c74991e9{
font-size:16px;
border-style:solid;
border-width:1px 1px 1px 1px;
border-color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-36ryvr-e096ad9970ada0147a1d09b8c74991e9:hover{
color:#2a3716;
transition:all 0.4s ease-in-out;
}

#top .av_textblock_section.av-m65eyyfr-7b027bceb6ba7b4fef7fd10049d82d98 .avia_textblock{
text-align:justify;
}

#top .av-special-heading.av-2pj97b-4a134c329b8f681333f8f01c1ea8ac89{
padding-bottom:10px;
}
body .av-special-heading.av-2pj97b-4a134c329b8f681333f8f01c1ea8ac89 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2pj97b-4a134c329b8f681333f8f01c1ea8ac89 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-2aq2lv-acc4069e5639b0747ed9a098767fe93d{
padding-bottom:10px;
}
body .av-special-heading.av-2aq2lv-acc4069e5639b0747ed9a098767fe93d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2aq2lv-acc4069e5639b0747ed9a098767fe93d .av-subheading{
font-size:15px;
}

.flex_cell.av-oplp9j-45e048153343ae62fee776bff9a04789{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-oplp9j-45e048153343ae62fee776bff9a04789{
padding:2% 2% 2% 10% !important;
}

#top .av_textblock_section.av-l4kurb-82d7d61a1463e0b34fb47366769e37ca .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-ih82if-8727a0b65752bbacf2c630b26881237c.av-display-circle{
margin:35% 0 35% 0;
}
#top .avia-animated-number.av-ih82if-8727a0b65752bbacf2c630b26881237c .avia-animated-number-title{
color:#444444;
}
#top .avia-animated-number.av-ih82if-8727a0b65752bbacf2c630b26881237c .avia-animated-number-content{
color:#444444;
}
.avia-animated-number.av-ih82if-8727a0b65752bbacf2c630b26881237c .avia-animated-number-circle{
width:70%;
}
.avia-animated-number.av-ih82if-8727a0b65752bbacf2c630b26881237c .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av_textblock_section.av-feiy07-07faf7c073c380a6269b262382af0e3e .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-ehqtfr-fec36757178210eac6c05b19be2cb6e4.av-display-circle{
margin:35% 0 35% 0;
}
#top .avia-animated-number.av-ehqtfr-fec36757178210eac6c05b19be2cb6e4 .avia-animated-number-title{
color:#444444;
}
#top .avia-animated-number.av-ehqtfr-fec36757178210eac6c05b19be2cb6e4 .avia-animated-number-content{
color:#ffffff;
}
.avia-animated-number.av-ehqtfr-fec36757178210eac6c05b19be2cb6e4 .avia-animated-number-circle{
width:70%;
}
.avia-animated-number.av-ehqtfr-fec36757178210eac6c05b19be2cb6e4 .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

.flex_cell.av-by1muf-4a561f622c1bd1d5bd2556e78f35d767{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-by1muf-4a561f622c1bd1d5bd2556e78f35d767{
padding:2% 10% 2% 2% !important;
}

#top .av_textblock_section.av-339if-f178c1df54fa3e4be29896f05138060a .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-7ofdc7-e80d97b012986e61f74ea5f817cd21f6.av-display-circle{
margin:35% 0 35% 0;
}
#top .avia-animated-number.av-7ofdc7-e80d97b012986e61f74ea5f817cd21f6 .avia-animated-number-title{
color:#444444;
}
#top .avia-animated-number.av-7ofdc7-e80d97b012986e61f74ea5f817cd21f6 .avia-animated-number-content{
color:#444444;
}
.avia-animated-number.av-7ofdc7-e80d97b012986e61f74ea5f817cd21f6 .avia-animated-number-circle{
width:70%;
}
.avia-animated-number.av-7ofdc7-e80d97b012986e61f74ea5f817cd21f6 .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av_textblock_section.av-3rx2kn-90c37921470e5c4858ec90c44aff1a08 .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-38n9pz-01c7671d5e75463d5791f467578867c9.av-display-circle{
margin:35% 0 35% 0;
}
#top .avia-animated-number.av-38n9pz-01c7671d5e75463d5791f467578867c9 .avia-animated-number-title{
color:#444444;
}
#top .avia-animated-number.av-38n9pz-01c7671d5e75463d5791f467578867c9 .avia-animated-number-content{
color:#ffffff;
}
.avia-animated-number.av-38n9pz-01c7671d5e75463d5791f467578867c9 .avia-animated-number-circle{
width:70%;
}
.avia-animated-number.av-38n9pz-01c7671d5e75463d5791f467578867c9 .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av-special-heading.av-6y0d87-5ee4124f4462980449153e4b5ff7f67d{
padding-bottom:10px;
}
body .av-special-heading.av-6y0d87-5ee4124f4462980449153e4b5ff7f67d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-6y0d87-5ee4124f4462980449153e4b5ff7f67d .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-69gg8n-96a1f8980bca3049a08190b5c64131db .avia_textblock{
text-align:justify;
column-count:2;
column-gap:7%;
}

#top .av-special-heading.av-3rcpjr-de61eb14fa2187705c84547d88e4fa53{
padding-bottom:10px;
}
body .av-special-heading.av-3rcpjr-de61eb14fa2187705c84547d88e4fa53 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3rcpjr-de61eb14fa2187705c84547d88e4fa53 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-36rr5z-cb69f354721eb3d19b81a3aeb4a20414 .avia_textblock{
text-align:justify;
}

.flex_cell.av-e9ctj-cb320f3b6ff24e53f8f23dc367870e20{
vertical-align:top;
}

.flex_cell.av-m7avu722-5b1d7be90854aadcef3085ca7f5c53ba{
vertical-align:top;
}

.flex_cell.av-32xxqv-f35f9a5b7733720ff89eeea6f016c036{
vertical-align:top;
}

#top .av-special-heading.av-ras95j-6d85e625ce095ce91f51a5b4bb4eb3f4{
padding-bottom:0px;
}
body .av-special-heading.av-ras95j-6d85e625ce095ce91f51a5b4bb4eb3f4 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-ras95j-6d85e625ce095ce91f51a5b4bb4eb3f4 .av-special-heading-tag{
padding:0 0 0px 0;
}
.av-special-heading.av-ras95j-6d85e625ce095ce91f51a5b4bb4eb3f4 .av-subheading{
font-size:15px;
}

.av_font_icon.av-1xit6v-2e8beadfcc144e521975b1ce946d353e .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .hr.hr-invisible.av-hd8lj-8874b6f0b10262152cd9455ab2c4e3cb{
margin-top:-80px;
height:1px;
}

.av_font_icon.av-2rmhjb-e1599aefefa6509d53ab6f582657fc89 .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av-special-heading.av-sj47-a61b66e3e974bb2bf30a4b93b5bb4fa3{
padding-bottom:10px;
}
body .av-special-heading.av-sj47-a61b66e3e974bb2bf30a4b93b5bb4fa3 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-sj47-a61b66e3e974bb2bf30a4b93b5bb4fa3 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m6527t9x-0b3316a1a3b71fc1bd44fd8b74acd94f .avia_textblock{
text-align:justify;
}

.av-hotspot-image-container .av-image-hotspot.av-m64w692h-b822fbc7106a6e9789291bea3f9a1c67{
top:35.4%;
left:19.4%;
}

.av-hotspot-image-container .av-image-hotspot.av-3zq2bb-2b16c09345c9b85082438151e2a2c5a4{
top:30.6%;
left:31.5%;
}

.av-hotspot-image-container .av-image-hotspot.av-m64w768i-dc6c4e6492d5c36d001c375a57825b08{
top:12.7%;
left:52.8%;
}

.av-hotspot-image-container .av-image-hotspot.av-m64w84fy-84c839c219b100dfe27fc6fc79a6e946{
top:63.3%;
left:57.9%;
}

.av-hotspot-image-container .av-image-hotspot.av-m654yxfa-f43d6c1a51ec955f8a1f03e3473dad4b{
top:5.7%;
left:73.8%;
}

.av-hotspot-image-container .av-image-hotspot.av-m64w8p18-c13f95cf83b931cc7eda5824e95d01cc{
top:74.9%;
left:80%;
}
.av-hotspot-image-container .av-image-hotspot.av-m64w8p18-c13f95cf83b931cc7eda5824e95d01cc .av-image-hotspot_inner{
background-color:#d2c6af;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-m64w8p18-c13f95cf83b931cc7eda5824e95d01cc .av-image-hotspot-pulse{
background-color:#d2c6af;
}

.av-hotspot-image-container .av-image-hotspot.av-m654m53f-0c51284ed5f5d913ed230709c385c9c3{
top:81.9%;
left:91.3%;
}

.av-hotspot-image-container .av-image-hotspot.av-21bzgn-f652f38acc0e481e72e378c1c9710921{
top:23.2%;
left:90.1%;
}

.av-tab-section-outer-container.av-3v5vtj-973f6f28d4b895d512145157e8aab172 .av-tab-section-tab-title-container{
background-color:#faf7f2;
}

.av-layout-tab.av-m64wfuoz-23cd53e01f7a6e75cf9c0d1f6c5031b6{
vertical-align:top;
}

.flex_column.av-i2cntj-d4195f3aeb4e05a26c29e4fedda42b21{
width:37.6%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m66me6ju-42b134fbacf31604b828bc6f728e1125 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m66me6ju-42b134fbacf31604b828bc6f728e1125 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-ggsh1z-ed8c62562559639aa1187b4c468fb8c4{
width:58.4%;
margin-left:4%;
}

#top .av-special-heading.av-m64xu5um-d16b0d14af9426e07282fa145aafd6bf{
padding-bottom:10px;
}
body .av-special-heading.av-m64xu5um-d16b0d14af9426e07282fa145aafd6bf .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m64xu5um-d16b0d14af9426e07282fa145aafd6bf .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-8vtvc7-5f380ccc0bdcc7825958c64ff921c71c .avia_textblock{
text-align:justify;
}

#top #wrap_all .avia-button.av-m6il1rvz-d3855faedba7f03bc4750a2fd6e31ead{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6il1rvz-d3855faedba7f03bc4750a2fd6e31ead:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.av-layout-tab.av-m64wfuoz-7-cdbf1394d287c6ac78a7d1cdc5318cb5{
vertical-align:top;
}

.flex_column.av-i2cntj-6-4fa1c36b81c56b565308a66934320173{
width:37.6%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m66me6ju-5-de664983b5e821f6d9af592757fc4ddb img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m66me6ju-5-de664983b5e821f6d9af592757fc4ddb .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-ggsh1z-4-f6ec74a9f56f46a3acec63b544f8fa1f{
width:58.4%;
margin-left:4%;
}

#top .av-special-heading.av-m64xu5um-3-6869f8620410e7a84ff2e4de54e24977{
padding-bottom:10px;
}
body .av-special-heading.av-m64xu5um-3-6869f8620410e7a84ff2e4de54e24977 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m64xu5um-3-6869f8620410e7a84ff2e4de54e24977 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-8vtvc7-2-f0633ce717ba93460df04aa75b02f08f .avia_textblock{
text-align:justify;
}

#top #wrap_all .avia-button.av-27pjcn-3e11d824eedcec060e0df00e58fc111d{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-27pjcn-3e11d824eedcec060e0df00e58fc111d:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.av-layout-tab.av-m64wga37-ae740977809fba147533636de0c2e9d0{
vertical-align:top;
}

.flex_column.av-m65815tx-e6c843cab5e278b208ad90bd44c9707c{
width:37.6%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m66zquom-dea47070c52f2a891d36ab12a806e760 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m66zquom-dea47070c52f2a891d36ab12a806e760 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-1jkvx13-84197aeee6bded8aacecdfd70fd59248{
width:58.4%;
margin-left:4%;
}

#top .av-special-heading.av-1hyfd53-2ab1d889768e95db1f5f479332c43936{
padding-bottom:10px;
}
body .av-special-heading.av-1hyfd53-2ab1d889768e95db1f5f479332c43936 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1hyfd53-2ab1d889768e95db1f5f479332c43936 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-1fr0crb-6e6162a1a3a2ffb7cc4edbcf2624b42b .avia_textblock{
text-align:justify;
}

#top #wrap_all .avia-button.av-4f56vr-b8912e36d08fe3b7903f41df47307b23{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-4f56vr-b8912e36d08fe3b7903f41df47307b23:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.av-layout-tab.av-m64wgiw8-ed6505c4f2ba5ce1ea764f141ad6ad6c{
vertical-align:top;
}

.flex_column.av-m65829un-4edeb7a3c83805112dcefe9a0f718ea1{
width:37.6%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m66qqd38-c7f4a12bd6993c1938ba55bde2e3bdef img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m66qqd38-c7f4a12bd6993c1938ba55bde2e3bdef .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-7vkklj-719ed17f256bd41c8c57bfa7db33b3a6{
width:58.4%;
margin-left:4%;
}

#top .av-special-heading.av-m656p2yl-958335c4890a4434ff583ee207f390c0{
padding-bottom:10px;
}
body .av-special-heading.av-m656p2yl-958335c4890a4434ff583ee207f390c0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m656p2yl-958335c4890a4434ff583ee207f390c0 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m656oyhq-1917d0c95891e869acafcd6e42542f97 .avia_textblock{
text-align:justify;
}

#top #wrap_all .avia-button.av-23yxo7-4a51ec86a1a8fb3c5b284f31af432817{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-23yxo7-4a51ec86a1a8fb3c5b284f31af432817:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.av-layout-tab.av-m6555x8n-3c3e1a456b229c2c2356ab0ac9fe0feb{
vertical-align:top;
}

.flex_column.av-m6583avj-d2234da6d8f8128c2fb49fc9a7970bbe{
width:37.6%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m66zsqh8-1cca702a872a614a0951f83f68b32100 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m66zsqh8-1cca702a872a614a0951f83f68b32100 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-lp25z-6d1fbcf296981feb0e04d058d44d5e3c{
width:58.4%;
margin-left:4%;
}

#top .av-special-heading.av-3yozfr-546e5177ec314801870e9069451229a0{
padding-bottom:10px;
}
body .av-special-heading.av-3yozfr-546e5177ec314801870e9069451229a0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3yozfr-546e5177ec314801870e9069451229a0 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-379z13-41d7112345191feb96061ca8c02c8fdd .avia_textblock{
text-align:justify;
}

#top #wrap_all .avia-button.av-m6j3ctha-710e8c152d73a4c32c2f567b508691ad{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6j3ctha-710e8c152d73a4c32c2f567b508691ad:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.av-layout-tab.av-33wg13-8452a20037f35fff9a307f15e47a4309{
vertical-align:top;
}

.flex_column.av-m6583wc9-b3d9a1b62c4286cffc8dd6ca92c52da8{
width:37.6%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m66zvpcg-4b7149b37b752e5bd51a55d896c466f4 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m66zvpcg-4b7149b37b752e5bd51a55d896c466f4 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-5hjfon-3f7448a23e6e7eacfeb6e469b58f7d99{
width:58.4%;
margin-left:4%;
}

#top .av-special-heading.av-4ddynb-6784490813e81b71a30d3ac3111a4c7a{
padding-bottom:10px;
}
body .av-special-heading.av-4ddynb-6784490813e81b71a30d3ac3111a4c7a .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-4ddynb-6784490813e81b71a30d3ac3111a4c7a .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-236007-fb7dbb689bd6a359b4f74e39536725f7 .avia_textblock{
text-align:justify;
}

#top #wrap_all .avia-button.av-m6j3dc0g-8901d3d2064931ae2f533d21610d80df{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6j3dc0g-8901d3d2064931ae2f533d21610d80df:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.av-layout-tab.av-m654nq3d-abb8a144dbd08965f7ffccda3fb2d9b3{
vertical-align:top;
}

.flex_column.av-m6584hob-ebd9658360982cf9ec41fbb43b62006c{
width:37.6%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m66zxg7g-8e959388f6d309d81592f57ffc51e1b5 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m66zxg7g-8e959388f6d309d81592f57ffc51e1b5 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-b2sdl3-9020a9e4212222155bd447c05a4c22ac{
width:58.4%;
margin-left:4%;
}

#top .av-special-heading.av-m656tqex-645da5f0eb4b6ad4300153771a7d2345{
padding-bottom:10px;
}
body .av-special-heading.av-m656tqex-645da5f0eb4b6ad4300153771a7d2345 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m656tqex-645da5f0eb4b6ad4300153771a7d2345 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m656tsfd-b6c2d204b2d97ce28c37c5bba1d461a0 .avia_textblock{
text-align:justify;
}

#top #wrap_all .avia-button.av-m6j3dssm-198661d1ade3ae973b2c3bfc9eadde35{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6j3dssm-198661d1ade3ae973b2c3bfc9eadde35:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.av-layout-tab.av-m64wfuoz-7-7-b1be6b0e82d170b480b5498ccbd977aa{
vertical-align:top;
}

.flex_column.av-i2cntj-6-6-7c04c5c6ff89b32772f13fdab92f3362{
width:37.6%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m66me6ju-5-5-5b04c7b4cd1fab3730aae499735f77d9 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m66me6ju-5-5-5b04c7b4cd1fab3730aae499735f77d9 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-ggsh1z-4-4-f8ee56a5eccb6161c4cdc8a666a8c333{
width:58.4%;
margin-left:4%;
}

#top .av-special-heading.av-m64xu5um-3-3-069cb0429d22273737e67845ebcceaae{
padding-bottom:10px;
}
body .av-special-heading.av-m64xu5um-3-3-069cb0429d22273737e67845ebcceaae .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m64xu5um-3-3-069cb0429d22273737e67845ebcceaae .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-8vtvc7-2-2-f2f7d1420697ac5f14034f4204d52fba .avia_textblock{
text-align:justify;
}

#top #wrap_all .avia-button.av-m6j3ehgn-73f398997d0a3513d3ebfe556fe81460{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6j3ehgn-73f398997d0a3513d3ebfe556fe81460:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.avia-section.av-y7jrb-0dd0fe6876093cabcbeeb280f367736a{
margin-top:40px;
margin-bottom:40px;
}

.av_font_icon.av-m63lilpd-c0d4445467cce911ed65729407b6155a .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-9fw7z-b2510fe7e355a8b1cd5a700e768791b2 .avia_textblock{
font-size:29px;
color:#526b25;
}

#top .hr.hr-invisible.av-28dbtz-7658653ee1d1aee2628ec57c78b34bf7{
margin-top:-40px;
height:1px;
}

.av_font_icon.av-7z0o7-84938ae912c023ef6bd76f7c76fd18a1 .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av-special-heading.av-e4pfaf-604bf2eeadc899ec07b8d427cd9371f7{
padding-bottom:30px;
}
body .av-special-heading.av-e4pfaf-604bf2eeadc899ec07b8d427cd9371f7 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-e4pfaf-604bf2eeadc899ec07b8d427cd9371f7 .av-special-heading-tag{
padding:30px 0 0 0;
}
.av-special-heading.av-e4pfaf-604bf2eeadc899ec07b8d427cd9371f7 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-9k4zz-1d1fdc49b63872318fef38bd080a43c9 .avia_textblock{
text-align:justify;
}

#top #wrap_all .avia-button.av-m6j3hdyc-4955db4a389eb340d5c923ad1705eeac{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6j3hdyc-4955db4a389eb340d5c923ad1705eeac:hover{
color:white;
transition:all 0.4s ease-in-out;
}

#top .av-special-heading.av-m6e7lbk3-f3f7f09fa90f6e98d280ba02df08ace7{
padding-bottom:30px;
}
body .av-special-heading.av-m6e7lbk3-f3f7f09fa90f6e98d280ba02df08ace7 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-m6e7lbk3-f3f7f09fa90f6e98d280ba02df08ace7 .av-special-heading-tag{
padding:30px 0 0 0;
}
.av-special-heading.av-m6e7lbk3-f3f7f09fa90f6e98d280ba02df08ace7 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m6h24zp4-66b69583983068e76a8d08fee868f6cb .avia_textblock{
text-align:justify;
column-count:2;
column-gap:7%;
}

.av-tab-section-outer-container.av-2ginoaf-8971c42f6a19078003fb4c5d8a67784f .av-tab-section-tab-title-container{
background-color:#faf7f2;
}

.av-layout-tab.av-h0z2gn-11-11-11-11-8a5376ee5b0cefa8bc898c83bb8d35d0{
vertical-align:top;
}

.flex_column.av-1jp4iv-10-10-10-10-e14c4d3e8405d0d28f7e05ce7aa0b57e{
width:22%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m6dyde3y-9-9-9-9-8da297241f8e4cfc447ae6ea64014f8a img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6dyde3y-9-9-9-9-8da297241f8e4cfc447ae6ea64014f8a .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-dxakt3-8-8-8-8-ba62e87911d8bbc5364980d036f9a8e7{
width:74%;
margin-left:4%;
}

#top .av_textblock_section.av-1x2qhj-8a60cf55db472e34fa796ed276e03125 .avia_textblock{
font-size:26px;
}

.av_font_icon.av-2pc6kn-e2e028e46dc366ea8aa50e68e97a5a8d .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-2t6n53-ad39d8ed7e97f1b1b48e03eb423d36b2 .avia_textblock{
text-align:justify;
}

#top .avia-icon-list-container.av-m6e1ujz4-4-4-4-4-613ce1ce398c3f26b12b51ca284a0236 .iconlist_icon{
background-color:#ffffff;
}

.av-layout-tab.av-h0z2gn-11-11-11-e8529ea8316f079d34f3d342dc79c696{
vertical-align:top;
}

.flex_column.av-1jp4iv-10-10-10-35744f235ee2584adcf30a84a776ff8f{
width:22%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m6dyde3y-9-9-9-2733a1c4a7098fa6022a24f68afe6aa1 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6dyde3y-9-9-9-2733a1c4a7098fa6022a24f68afe6aa1 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-dxakt3-8-8-8-3186139448163566aeecb36a433d5700{
width:74%;
margin-left:4%;
}

#top .av_textblock_section.av-m6shey0a-eae2d740d888cbceb2a75e523f590351 .avia_textblock{
font-size:26px;
}

.av_font_icon.av-2j47av-61b9ecfa4037123d9bf7049c2bfe115c .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-m6dya1wf-6-6-6-6d9159b0253cb89f53aa34ca9e93047e .avia_textblock{
text-align:justify;
}

#top .avia-icon-list-container.av-m6e1ujz4-4-4-4-568d5f0d9cdf31a879b925f57041af0b .iconlist_icon{
background-color:#ffffff;
}

.av-layout-tab.av-h0z2gn-11-11-11-11-12-12-fd56fee3fb6a0f4e51b10ed9d0516755{
vertical-align:top;
}

.flex_column.av-1jp4iv-10-10-10-10-11-11-a319ae697f82920dbc6df5f561dfd191{
width:22%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m6dyde3y-9-9-9-9-10-10-a1fa8c8f676b1b235ee6872d740e930f img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6dyde3y-9-9-9-9-10-10-a1fa8c8f676b1b235ee6872d740e930f .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-dxakt3-8-8-8-8-9-9-60dd951ce6ac9cb95b67b14b239c0ed3{
width:74%;
margin-left:4%;
}

#top .av_textblock_section.av-m6dya1wf-6-6-6-6-72baff04cd43193eb52b85e1ac909b64 .avia_textblock{
font-size:26px;
}

.av_font_icon.av-2pc6kn-7-7-fd9491b7e9deacc21fdcce653e743f08 .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-m6dya1wf-6-6-6-6-6-6-f557344f9bb90cf5e78063c5a36a4174 .avia_textblock{
text-align:justify;
}

#top .avia-icon-list-container.av-m6e1ujz4-4-4-4-4-4-4-b1b0c37e66acd6cdc7b00f98dfa1ae97 .iconlist_icon{
background-color:#ffffff;
}

.av-layout-tab.av-h0z2gn-12-bf21afcccbf24e78845e33cb2a6ed56b{
vertical-align:top;
}

.flex_column.av-1jp4iv-06dc87373219b0434c633ac729aa4d5a{
width:22%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m6dyde3y-1d031c7046ec0acc48e5fda5efb113da img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6dyde3y-1d031c7046ec0acc48e5fda5efb113da .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-dxakt3-65a35d1e51f6c8bd649491ff6356cd0b{
width:74%;
margin-left:4%;
}

#top .av_textblock_section.av-m6shg3oi-828695e015320e58b8f56fd2587f48c1 .avia_textblock{
font-size:26px;
}

.av_font_icon.av-7npv4n-8-684a08a9555ae078d16781497fa3ef4a .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-m6dya1wf-19ea8459a2ed8b8d51ce404eed0dd93e .avia_textblock{
text-align:justify;
}

#top .avia-icon-list-container.av-m6e1ujz4-16292f4713f66aacc51ae99950106ced .iconlist_icon{
background-color:#ffffff;
}

.av-layout-tab.av-h0z2gn-11-11-11-11-12-12-12-f4f36e9103ac6897c6006e91e83a5299{
vertical-align:top;
}

.flex_column.av-1jp4iv-10-10-10-10-11-11-11-a54bbabe4523ff448fe0235058b76efd{
width:22%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m6dyde3y-9-9-9-9-10-10-10-f9a109d69bb17fb25433009c29721351 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6dyde3y-9-9-9-9-10-10-10-f9a109d69bb17fb25433009c29721351 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-dxakt3-8-8-8-8-9-9-9-77f352ac811fe2135fd88a46ef7d575f{
width:74%;
margin-left:4%;
}

#top .av_textblock_section.av-m6shge1s-3f35d350040f9e2846a79eedfe96f512 .avia_textblock{
font-size:26px;
}

.av_font_icon.av-2pc6kn-7-7-7-66df41f831b4de290bd3700cc83d6a27 .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-m6dya1wf-6-6-6-6-6-6-6-72253ee312e4cd4ab3f39fb65213b28d .avia_textblock{
text-align:justify;
}

#top .avia-icon-list-container.av-m6e1ujz4-4-4-4-4-4-4-4-c12682bd39b9488e3b1998722859121a .iconlist_icon{
background-color:#ffffff;
}

.av-layout-tab.av-h0z2gn-11-11-d9902e29f1a1ec00a26c3f72191a81d8{
vertical-align:top;
}

.flex_column.av-1jp4iv-10-10-cae9466ff83b0943dcc3891fab7d0e6a{
width:22%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m6dyde3y-9-9-628276bb26fc8e9054a387e5fc22aedc img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6dyde3y-9-9-628276bb26fc8e9054a387e5fc22aedc .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-dxakt3-8-8-c8bf6510c2fd8c4c507817dd292c70c5{
width:74%;
margin-left:4%;
}

#top .av_textblock_section.av-m6shgt9p-307f86777787da806d70f846f0f643af .avia_textblock{
font-size:26px;
}

.av_font_icon.av-3oo1lz-869c8cfeb565295adfc00ffafafe6b0b .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-m6dya1wf-6-6-0c2756f129d682da6a47ac562fa44a83 .avia_textblock{
text-align:justify;
}

#top .avia-icon-list-container.av-m6e1ujz4-4-4-47615e848e9d924d033a5e8e41ca86b6 .iconlist_icon{
background-color:#ffffff;
}

.av-layout-tab.av-h0z2gn-11-37242033815f4ef2357bef1e206ed5ce{
vertical-align:top;
}

.flex_column.av-1jp4iv-10-f6cab33dc58df32e08ecfd4195174e7f{
width:22%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m6dyde3y-9-b8e60bd9bfd26ffba3840d01065c702b img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6dyde3y-9-b8e60bd9bfd26ffba3840d01065c702b .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-dxakt3-8-7cf3202409d1bb6e85e7cf00a665e866{
width:74%;
margin-left:4%;
}

#top .av_textblock_section.av-m6shhffq-4f3ebab14c69d1bded6e1b88b6952a76 .avia_textblock{
font-size:26px;
}

.av_font_icon.av-6604xj-47aed1fbc9bc2403b133df5ab4c91547 .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-m6dya1wf-6-cf80e006c7f11f8c02186b4ae45a7f23 .avia_textblock{
text-align:justify;
}

#top .avia-icon-list-container.av-m6e1ujz4-4-81b532a08b7ee8fbd9631660a68956dc .iconlist_icon{
background-color:#ffffff;
}

.av-layout-tab.av-h0z2gn-11-11-11-11-12-17e0aaf46ab234e937690a9a2a48aaf6{
vertical-align:top;
}

.flex_column.av-1jp4iv-10-10-10-10-11-9d0fe57c27a744803c9ed7cc48743fe9{
width:22%;
border-radius:10px 10px 10px 10px;
}

.avia-image-container.av-m6dyde3y-9-9-9-9-10-f8faa9e623cfd9511c9a76688ed99001 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6dyde3y-9-9-9-9-10-f8faa9e623cfd9511c9a76688ed99001 .av-image-caption-overlay-center{
color:#ffffff;
}

.flex_column.av-dxakt3-8-8-8-8-9-bf9f9d38089f12b9a3cc6f32665324cd{
width:74%;
margin-left:4%;
}

#top .av_textblock_section.av-m6shi1yk-c38c6fc52b0d61038a53c61c48b47128 .avia_textblock{
font-size:26px;
}

.av_font_icon.av-2pc6kn-7-ec144f12e08a6e264b37d0ca10ebadd4 .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-m6dya1wf-6-6-6-6-6-7674b756d4fa67fc3c53704f67f80721 .avia_textblock{
text-align:justify;
}

#top .avia-icon-list-container.av-m6e1ujz4-4-4-4-4-4-71a2f4b3a75e73e33ccf678f6181294f .iconlist_icon{
background-color:#ffffff;
}

@keyframes av_boxShadowEffect_av-lfyvk7-5c27a1e7ad1d1d4b98e9be932887c8ea-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-lfyvk7-5c27a1e7ad1d1d4b98e9be932887c8ea{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/Nachhaltige-Hochzeit-in-Waldgefluester-1371-1-e1737591479610.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-lfyvk7-5c27a1e7ad1d1d4b98e9be932887c8ea .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-1wanon-789f449fbb6db9f39e9eee72a40f27ed{
height:370px;
}

#top .av-special-heading.av-hzlupz-8dd3fc0d955bd10260baf0167dab7ad8{
padding-bottom:10px;
}
body .av-special-heading.av-hzlupz-8dd3fc0d955bd10260baf0167dab7ad8 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-hzlupz-8dd3fc0d955bd10260baf0167dab7ad8 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-fgnocn-26dfc16876aebf84a438a4dc5a969964 .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-eq3qrr-9efdc0bb4e241cde591855dd33311049{
height:10px;
}

#top #wrap_all .avia-button.av-bvgtsn-890e8ecb2d6712079544f408f9b90b51{
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}

@keyframes av_boxShadowEffect_av-avt6dj-1168b061f5134cc61b2b1a08361f114d-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-avt6dj-1168b061f5134cc61b2b1a08361f114d{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/Waldgefluester-3.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-avt6dj-1168b061f5134cc61b2b1a08361f114d .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-9kqv07-e75bddf4a5d0365e586bef8e8f1c8829{
height:370px;
}

#top .av-special-heading.av-77sazb-5996447ffc6d8c0da1955cc97b3373ce{
padding-bottom:10px;
}
body .av-special-heading.av-77sazb-5996447ffc6d8c0da1955cc97b3373ce .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-77sazb-5996447ffc6d8c0da1955cc97b3373ce .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-60eg4n-ed1632f62ff75e9e7f073cd25bd85020 .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-40n2l3-914c4345ef6a06f16c315c158713047b{
height:10px;
}

#top #wrap_all .avia-button.av-m6j3j2f5-1f454be30b1e566b0f3f1c4e76a07b13{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6j3j2f5-1f454be30b1e566b0f3f1c4e76a07b13:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.flex_column.av-y6vd7r-41fc0b55bc371e526f55e10ad0e07a59{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-wscb3r-5e2f82a4c91f5036225a20d35ec00978 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-wscb3r-5e2f82a4c91f5036225a20d35ec00978 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-u7goqf-7ed3b6f589a8cd10d37488aee5382026{
height:40px;
}

#top .flex_column.av-sgbvqv-e9f7dfa201eba122e870200a9ae55d09{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-sgbvqv-e9f7dfa201eba122e870200a9ae55d09{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-sgbvqv-e9f7dfa201eba122e870200a9ae55d09{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-s096ev-1dab21328a32b6170fcecb1b65f909e5{
height:1px;
}

#top .flex_column.av-phgknr-d307d527004260e2e868e29a226db4a8{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-phgknr-d307d527004260e2e868e29a226db4a8{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-phgknr-d307d527004260e2e868e29a226db4a8{
margin-top:0px;
margin-bottom:0px;
}

#top .av-special-heading.av-njo54n-e20897d732edcb835c8d419d33a9c794{
padding-bottom:20px;
}
body .av-special-heading.av-njo54n-e20897d732edcb835c8d419d33a9c794 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-njo54n-e20897d732edcb835c8d419d33a9c794 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-mfbdqv-ef0428523c69b4b48883844e5ab648e8 .avia_textblock{
text-align:justify;
}

#top .flex_column.av-6txz5z-e328007c23ec2b00ddd8fb233f0a1638{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-6txz5z-e328007c23ec2b00ddd8fb233f0a1638{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-6txz5z-e328007c23ec2b00ddd8fb233f0a1638{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-5yrpxj-013ae71f0e127bdf282a742d3e55898b{
height:1px;
}


@media only screen and (max-width: 989px){ 
#top .av_textblock_section.av-69gg8n-96a1f8980bca3049a08190b5c64131db .avia_textblock{
column-count:1;
}
.av_textblock_section.av-69gg8n-96a1f8980bca3049a08190b5c64131db .avia_textblock.av_multi_colums > p:first-child{
margin-top:0.85em;
}

#top .av_textblock_section.av-m6h24zp4-66b69583983068e76a8d08fee868f6cb .avia_textblock{
column-count:1;
}
.av_textblock_section.av-m6h24zp4-66b69583983068e76a8d08fee868f6cb .avia_textblock.av_multi_colums > p:first-child{
margin-top:0.85em;
}
}
