.avia-section.av-6zkywz-a19058bfaf8a7876ffe79912f5be7e45 .av-parallax .av-parallax-inner{
background-repeat:no-repeat;
background-image:url(../../2025/01/07_Laura-und-Marc-Come-Together-2-1.webp);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-6zkywz-a19058bfaf8a7876ffe79912f5be7e45 .av-section-color-overlay{
opacity:0.4;
background-color:#0a0808;
}

#top .av-special-heading.av-m69ft26d-58522311e69e433167526cbc85b79cca{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-m69ft26d-58522311e69e433167526cbc85b79cca .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m69ft26d-58522311e69e433167526cbc85b79cca .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-m69ft26d-58522311e69e433167526cbc85b79cca .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-3o69tv-e9b53f8b8463b69f910908b0f4ebe046{
height:50px;
}

#top #wrap_all .avia-button.av-1z5sxo-39fd28241c7f318c1ff77b1a4ca3a1cd{
font-size:16px;
border-style:solid;
border-width:1px 1px 1px 1px;
border-color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-1z5sxo-39fd28241c7f318c1ff77b1a4ca3a1cd:hover{
color:#2a3716;
transition:all 0.4s ease-in-out;
}

#top .av_textblock_section.av-m65eyyfr-7b027bceb6ba7b4fef7fd10049d82d98 .avia_textblock{
text-align:justify;
}

.flex_cell.av-onkvn0-4d7608a967660e6f9c8403a737746792{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-onkvn0-4d7608a967660e6f9c8403a737746792{
padding:2% 2% 2% 10% !important;
}

#top .av_textblock_section.av-l5a730-3a5c121badb444d3415f6b34dad804c3 .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-jqzhwc-8942d3627f5dfe5f30d4847d2ee59ef6.av-display-circle{
margin:35% 0 35% 0;
}
#top .avia-animated-number.av-jqzhwc-8942d3627f5dfe5f30d4847d2ee59ef6 .avia-animated-number-title{
color:#444444;
}
#top .avia-animated-number.av-jqzhwc-8942d3627f5dfe5f30d4847d2ee59ef6 .avia-animated-number-content{
color:#444444;
}
.avia-animated-number.av-jqzhwc-8942d3627f5dfe5f30d4847d2ee59ef6 .avia-animated-number-circle{
width:70%;
}
.avia-animated-number.av-jqzhwc-8942d3627f5dfe5f30d4847d2ee59ef6 .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av_textblock_section.av-1nis24-8e8d4712fbe0821da4423bfda774227a .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-ejoqp8-dc1026f8dedf2cdf5ed984f3099ff7fe.av-display-circle{
margin:35% 0 35% 0;
}
#top .avia-animated-number.av-ejoqp8-dc1026f8dedf2cdf5ed984f3099ff7fe .avia-animated-number-title{
color:#444444;
}
#top .avia-animated-number.av-ejoqp8-dc1026f8dedf2cdf5ed984f3099ff7fe .avia-animated-number-content{
color:#ffffff;
}
.avia-animated-number.av-ejoqp8-dc1026f8dedf2cdf5ed984f3099ff7fe .avia-animated-number-circle{
width:70%;
}
.avia-animated-number.av-ejoqp8-dc1026f8dedf2cdf5ed984f3099ff7fe .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

.flex_cell.av-1a2li4-db86849f8e0d432702172f1b93f77c1a{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-1a2li4-db86849f8e0d432702172f1b93f77c1a{
padding:2% 10% 2% 2% !important;
}

#top .av_textblock_section.av-8haav0-06b166978032c996997412d1d7d2ee87 .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-6xp23w-3e37c97f2daf3483c2cefb5d3576aeb6.av-display-circle{
margin:35% 0 35% 0;
}
#top .avia-animated-number.av-6xp23w-3e37c97f2daf3483c2cefb5d3576aeb6 .avia-animated-number-title{
color:#444444;
}
#top .avia-animated-number.av-6xp23w-3e37c97f2daf3483c2cefb5d3576aeb6 .avia-animated-number-content{
color:#444444;
}
.avia-animated-number.av-6xp23w-3e37c97f2daf3483c2cefb5d3576aeb6 .avia-animated-number-circle{
width:70%;
}
.avia-animated-number.av-6xp23w-3e37c97f2daf3483c2cefb5d3576aeb6 .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av_textblock_section.av-3nfii4-07abd7558483c86ac08fda5019aa16fd .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-28oqm4-918266fe52b2d6c6c5a84a44e50ab4e8.av-display-circle{
margin:35% 0 35% 0;
}
#top .avia-animated-number.av-28oqm4-918266fe52b2d6c6c5a84a44e50ab4e8 .avia-animated-number-title{
color:#444444;
}
#top .avia-animated-number.av-28oqm4-918266fe52b2d6c6c5a84a44e50ab4e8 .avia-animated-number-content{
color:#ffffff;
}
.avia-animated-number.av-28oqm4-918266fe52b2d6c6c5a84a44e50ab4e8 .avia-animated-number-circle{
width:70%;
}
.avia-animated-number.av-28oqm4-918266fe52b2d6c6c5a84a44e50ab4e8 .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av-special-heading.av-2pj97b-a76011044a3c9c741556f72e0f09c1b7{
padding-bottom:10px;
}
body .av-special-heading.av-2pj97b-a76011044a3c9c741556f72e0f09c1b7 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2pj97b-a76011044a3c9c741556f72e0f09c1b7 .av-subheading{
font-size:15px;
}

.flex_cell.av-m69g0suv-998f00854eb519ada2afd9ac9c956532{
vertical-align:top;
background:url(../../2025/01/Cindy-und-Michele-1052.webp) 50% 50% no-repeat scroll ;
}

#top .hr.hr-invisible.av-3pzfib-a00a9f75d70b507038feda593c1cb33c{
height:350px;
}

.av_font_icon.av-m7tlo3t9-26a211bdb27ff9b29ea5664ae737a09b{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-m7tlo3t9-26a211bdb27ff9b29ea5664ae737a09b .av-icon-char{
font-size:140px;
line-height:140px;
}

.flex_cell.av-1yah7n-5c38d4264601c335ef129b52bd7b1bab{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-1yah7n-5c38d4264601c335ef129b52bd7b1bab{
padding:60px 60px 60px 60px !important;
}

#top .av-special-heading.av-d3cx5v-ce99a57cc8a38aefe55c33cf19e97f8e{
padding-bottom:10px;
}
body .av-special-heading.av-d3cx5v-ce99a57cc8a38aefe55c33cf19e97f8e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-d3cx5v-ce99a57cc8a38aefe55c33cf19e97f8e .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-a6920z-57ebc6f470161c168a35bcabdf0f4239 .avia_textblock{
text-align:justify;
}

.flex_cell.av-m69g2fy9-d372dabd599870864bafe2ec75d7efee{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-m69g2fy9-d372dabd599870864bafe2ec75d7efee{
padding:60px 60px 60px 60px !important;
}

#top .av-special-heading.av-9sa0gj-841931ff1b4de7809edbee6d668158e3{
padding-bottom:10px;
}
body .av-special-heading.av-9sa0gj-841931ff1b4de7809edbee6d668158e3 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-9sa0gj-841931ff1b4de7809edbee6d668158e3 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-7407xv-0460bc622a0104fe2a79dec8335e26f1 .avia_textblock{
text-align:justify;
}

.flex_cell.av-m69g3goh-41fb672df90cf48e82343ffdec63345d{
vertical-align:top;
background:url(../../2025/01/22-Sarah-Max-22.webp) 50% 50% no-repeat scroll ;
}

#top .hr.hr-invisible.av-7zlhar-deb373a7b4a9cc04b799513d46efae89{
height:350px;
}

.av_font_icon.av-m7tlq1oj-06910c5e5e870ba5e8e0255cd4834b6f{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-m7tlq1oj-06910c5e5e870ba5e8e0255cd4834b6f .av-icon-char{
font-size:140px;
line-height:140px;
}

.flex_cell.av-m69h1oq1-881e1eba710341901e78e5a82327b4ab{
vertical-align:top;
background:url(../../2025/01/WG_MRMRS1300-e1737536632836.webp) 50% 50% no-repeat scroll ;
}

#top .hr.hr-invisible.av-5tx9pv-6e444c6ebc3fa99b28885aec92b52b63{
height:350px;
}

.av_font_icon.av-2bgeks-5edd1df7225963817d6f18f60b58f6f8{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-2bgeks-5edd1df7225963817d6f18f60b58f6f8 .av-icon-char{
font-size:140px;
line-height:140px;
}

.flex_cell.av-1b602r-b828b8bb1d617f7c66519b67c6e4e55e{
vertical-align:middle;
}
.responsive #top #wrap_all .flex_cell.av-1b602r-b828b8bb1d617f7c66519b67c6e4e55e{
padding:60px 60px 60px 60px !important;
}

#top .av-special-heading.av-m69gzp38-54370abfc7a366a56c2093bfee0f574e{
padding-bottom:10px;
}
body .av-special-heading.av-m69gzp38-54370abfc7a366a56c2093bfee0f574e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m69gzp38-54370abfc7a366a56c2093bfee0f574e .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-1cp3r4z-7c913cff52aaa4d6cf8bd2a86db7ca32{
height:50px;
}

.flex_cell.av-ipwemk-9d2c66fe22d040bd49f0f4ca782dbae0{
vertical-align:top;
}

#top .hr.hr-invisible.av-h6zdsc-212ab2713a29356382df518c25cd5c24{
height:1px;
}

.flex_cell.av-1mt9uk-89f5cbcf964c8943765db0fc275034ab{
vertical-align:top;
}

#top .av-special-heading.av-m6h3xeyr-815b9738df0838fb48614c2ebd8729ef{
padding-bottom:10px;
}
body .av-special-heading.av-m6h3xeyr-815b9738df0838fb48614c2ebd8729ef .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m6h3xeyr-815b9738df0838fb48614c2ebd8729ef .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-c3yazw-9f8312603d8baafb5662f36c8bb7bd75 .iconlist_icon{
background-color:#89a488;
}

.flex_cell.av-45y3f0-5326f30b3c039fba6fd3f5edbd8fa12f{
vertical-align:top;
}

#top .hr.hr-invisible.av-35okyk-a3e65f1d5a41725baa4d30db6d284dd0{
height:1px;
}

.avia-section.av-y7jrb-0dd0fe6876093cabcbeeb280f367736a{
margin-top:40px;
margin-bottom:40px;
}

.av_font_icon.av-m63lilpd-c0d4445467cce911ed65729407b6155a .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-9fw7z-68575f984b62047735de07728645f85f .avia_textblock{
font-size:29px;
color:#526b25;
text-align:center;
}

#top .hr.hr-invisible.av-28dbtz-7658653ee1d1aee2628ec57c78b34bf7{
margin-top:-40px;
height:1px;
}

.av_font_icon.av-7z0o7-84938ae912c023ef6bd76f7c76fd18a1 .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av-special-heading.av-m69hkkiv-f0ff2c0440770375080ddeef287e92ba{
padding-bottom:10px;
}
body .av-special-heading.av-m69hkkiv-f0ff2c0440770375080ddeef287e92ba .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m69hkkiv-f0ff2c0440770375080ddeef287e92ba .av-subheading{
font-size:15px;
}

.avia-timeline-container.av-m69hmssv-00efdf516e9cd125ce87050dca940a8e .av-milestone-icon-inner{
background-color:#89a488;
}
.avia-timeline-container.av-m69hmssv-00efdf516e9cd125ce87050dca940a8e .av-milestone-indicator{
background-color:#89a488;
}
.avia-timeline-container.av-m69hmssv-00efdf516e9cd125ce87050dca940a8e .av-milestone-article-footer{
background-color:#89a488;
}

#top #wrap_all .avia-button.av-m6f0779d-3c86472a9c486207704a20402d05307e{
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}

#top .av-special-heading.av-e4pfaf-c535aefe33632cb76d5e681f017c2763{
padding-bottom:30px;
}
body .av-special-heading.av-e4pfaf-c535aefe33632cb76d5e681f017c2763 .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-e4pfaf-c535aefe33632cb76d5e681f017c2763 .av-special-heading-tag{
padding:30px 0 0 0;
}
.av-special-heading.av-e4pfaf-c535aefe33632cb76d5e681f017c2763 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-9k4zz-1d1fdc49b63872318fef38bd080a43c9 .avia_textblock{
text-align:justify;
}

#top .av-masonry.av-m667ljec-2de981b9d3c28f672f5c0c9fe26c8685{
background-color:rgba(244,253,255,0.4);
}

#top #wrap_all .avia-button.av-m6j3m9sr-af0e52ce1858f3c8ab312cb02b90aa33{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6j3m9sr-af0e52ce1858f3c8ab312cb02b90aa33:hover{
color:white;
transition:all 0.4s ease-in-out;
}

@keyframes av_boxShadowEffect_av-m6bhlpr0-beebc03d34fef9434d8455177ba4a802-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-m6bhlpr0-beebc03d34fef9434d8455177ba4a802{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/Nachhaltige-Hochzeit-in-Waldgefluester-1371-1-e1737591479610.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-m6bhlpr0-beebc03d34fef9434d8455177ba4a802 .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-5bzwoz-d991be560a5a285a9dce6dbd162b4650{
height:370px;
}

#top .av-special-heading.av-59kvz7-85538780df36bad152492e191688b0ec{
padding-bottom:10px;
}
body .av-special-heading.av-59kvz7-85538780df36bad152492e191688b0ec .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-59kvz7-85538780df36bad152492e191688b0ec .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-1ecjo6b-96921230ff4584b5ca7b28476fb2bffb .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-8zpy4-97f914c9966a81bef44859bedd1bbb39{
height:10px;
}

#top #wrap_all .avia-button.av-1at9u6r-63c26e1cd3a9961525d5bfb69e16f13d{
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}

@keyframes av_boxShadowEffect_av-19wb2f7-7250a2aa717a61dcfb79fdce0d6d8b28-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-19wb2f7-7250a2aa717a61dcfb79fdce0d6d8b28{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/Waldgefluester-3.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-19wb2f7-7250a2aa717a61dcfb79fdce0d6d8b28 .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-18dw1qb-cfc7fc47ebd6fd1ab9e660ed80ef7677{
height:370px;
}

#top .av-special-heading.av-165xqwj-7cf3ce2cf2189cdf9edb5ef3bcc90b7c{
padding-bottom:10px;
}
body .av-special-heading.av-165xqwj-7cf3ce2cf2189cdf9edb5ef3bcc90b7c .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-165xqwj-7cf3ce2cf2189cdf9edb5ef3bcc90b7c .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-1440503-dacd7fff1d3196021f28d9eb863bff94 .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-12ioqlf-df73883f9550a009e5b7a59e107607d7{
height:10px;
}

#top #wrap_all .avia-button.av-1xapt8-dd6cfb9d3579c9e2a9e859d72b632975{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-1xapt8-dd6cfb9d3579c9e2a9e859d72b632975:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.flex_column.av-xr5jhv-c44fc63c2a7acbd9405225a6e8a826d5{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-362wr7-d67ccd88e355746a7f155ed082d8fdbb img.avia_image{
box-shadow:none;
}
.avia-image-container.av-362wr7-d67ccd88e355746a7f155ed082d8fdbb .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-v4x9kz-0913c455d66ce842779884330d298049{
height:40px;
}

#top .flex_column.av-se6yc3-3be42d15d484aea30df87a903ff42e4e{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-se6yc3-3be42d15d484aea30df87a903ff42e4e{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-se6yc3-3be42d15d484aea30df87a903ff42e4e{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-rt1un7-e9723ef0747c4926ed324831f168c8f2{
height:1px;
}

#top .flex_column.av-qagtwj-4c6217bf188d207b3a9c098278226637{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-qagtwj-4c6217bf188d207b3a9c098278226637{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-qagtwj-4c6217bf188d207b3a9c098278226637{
margin-top:0px;
margin-bottom:0px;
}

#top .av-special-heading.av-nem6ur-0e206f7dade1c7decfc51604bc18f9d8{
padding-bottom:20px;
}
body .av-special-heading.av-nem6ur-0e206f7dade1c7decfc51604bc18f9d8 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-nem6ur-0e206f7dade1c7decfc51604bc18f9d8 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-ltsd5v-7ce20276c9ce276d553e3e223ca0191e .avia_textblock{
text-align:justify;
}

#top .flex_column.av-7vovkj-74f38e324d36417c94cf4b99bd4642e1{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-7vovkj-74f38e324d36417c94cf4b99bd4642e1{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-7vovkj-74f38e324d36417c94cf4b99bd4642e1{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-66cdeb-229147843948616077514d4849b7816a{
height:1px;
}

