.avia-section.av-6zkywz-1b2215787bb2706e3468f3d409662512 .av-parallax .av-parallax-inner{
background-repeat:no-repeat;
background-image:url(../../2025/10/Gastraum.webp);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-6zkywz-1b2215787bb2706e3468f3d409662512 .av-section-color-overlay{
opacity:0.4;
background-color:#0a0808;
}

#top .av-special-heading.av-m69ft26d-b23ec56615f2dcfd0e46ad44c64ee571{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-m69ft26d-b23ec56615f2dcfd0e46ad44c64ee571 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m69ft26d-b23ec56615f2dcfd0e46ad44c64ee571 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-m69ft26d-b23ec56615f2dcfd0e46ad44c64ee571 .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-3o69tv-e9b53f8b8463b69f910908b0f4ebe046{
height:50px;
}

#top #wrap_all .avia-button.av-32jt4z-fa47c2014a4fed595434b26c1495dcce{
font-size:16px;
border-style:solid;
border-width:1px 1px 1px 1px;
border-color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-32jt4z-fa47c2014a4fed595434b26c1495dcce:hover{
color:#2a3716;
transition:all 0.4s ease-in-out;
}

#top .av_textblock_section.av-m65eyyfr-7b027bceb6ba7b4fef7fd10049d82d98 .avia_textblock{
text-align:justify;
}

.flex_cell.av-m69g2fy9-4c16524b2424a472a13b26a355893d72{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-m69g2fy9-4c16524b2424a472a13b26a355893d72{
padding:60px 60px 60px 60px !important;
}

#top .av-special-heading.av-m69h0z5i-d7fab9ca7e9ee6596cf0632a5b061c48{
padding-bottom:10px;
}
body .av-special-heading.av-m69h0z5i-d7fab9ca7e9ee6596cf0632a5b061c48 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m69h0z5i-d7fab9ca7e9ee6596cf0632a5b061c48 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m69h11vm-1bf22103365ae4fd383f97dd92f2cf79 .avia_textblock{
text-align:justify;
}

.flex_cell.av-m69g3goh-9d5841147cc5ebcef1bed602bfc23ada{
vertical-align:top;
background:url(../../2025/10/Deko-Detail-Sofa.webp) 50% 50% no-repeat scroll ;
}

#top .hr.hr-invisible.av-7zlhar-deb373a7b4a9cc04b799513d46efae89{
height:350px;
}

.av_font_icon.av-sxa3n-60b3396a081fbbf38455be4192f42ca7{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-sxa3n-60b3396a081fbbf38455be4192f42ca7 .av-icon-char{
font-size:140px;
line-height:140px;
}

.flex_cell.av-m69g0suv-9a07d853d48cb7eb8533b6a45924abbf{
vertical-align:top;
background:url(../../2025/01/Eisstockschiessen_small.webp) 50% 50% no-repeat scroll ;
}

#top .hr.hr-invisible.av-3pzfib-a00a9f75d70b507038feda593c1cb33c{
height:350px;
}

.av_font_icon.av-9wjh5f-74e7953a7cbab43bfa22758075d25e75{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-9wjh5f-74e7953a7cbab43bfa22758075d25e75 .av-icon-char{
font-size:140px;
line-height:140px;
}

.flex_cell.av-1yah7n-269fe5caf03f5119b2aee87c3c3eba97{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-1yah7n-269fe5caf03f5119b2aee87c3c3eba97{
padding:60px 60px 60px 60px !important;
}

#top .av-special-heading.av-9rhxnn-b61a072a66cbb7e01f0a33400b0caa0e{
padding-bottom:10px;
}
body .av-special-heading.av-9rhxnn-b61a072a66cbb7e01f0a33400b0caa0e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-9rhxnn-b61a072a66cbb7e01f0a33400b0caa0e .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-71x7bn-28ea30763d5a23df4235ab9efde81fa7 .avia_textblock{
text-align:justify;
}

.flex_cell.av-abeger-e53c2dc33b4de592f987b2ad1e1b86e1{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-abeger-e53c2dc33b4de592f987b2ad1e1b86e1{
padding:60px 60px 60px 60px !important;
}

#top .av-special-heading.av-d3cx5v-4ac3d31ab2489b02bbc41fe5ab0d122a{
padding-bottom:10px;
}
body .av-special-heading.av-d3cx5v-4ac3d31ab2489b02bbc41fe5ab0d122a .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-d3cx5v-4ac3d31ab2489b02bbc41fe5ab0d122a .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-a6920z-57ebc6f470161c168a35bcabdf0f4239 .avia_textblock{
text-align:justify;
}

.flex_cell.av-5zrqvn-57c3fefc1f63f4d4bf56e76c69a05480{
vertical-align:top;
background:url(../../2025/01/DSC05760.webp) 50% 50% no-repeat scroll ;
}

#top .hr.hr-invisible.av-403l2r-a22acf566c2c09f60b12657574d444b7{
height:350px;
}

.av_font_icon.av-39k2xf-04175376267411896870e84519226c6f{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-39k2xf-04175376267411896870e84519226c6f .av-icon-char{
font-size:140px;
line-height:140px;
}

.flex_cell.av-m69h1oq1-c6dd7e77e03327f8393f013c8eb1d035{
vertical-align:top;
background:url(../../2025/01/DSCF9225-1030x687.webp) 50% 50% no-repeat scroll ;
}

#top .hr.hr-invisible.av-5tx9pv-6e444c6ebc3fa99b28885aec92b52b63{
height:350px;
}

.av_font_icon.av-63gmtv-0321a7782ac196fd55f2e4351ae48f08{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-63gmtv-0321a7782ac196fd55f2e4351ae48f08 .av-icon-char{
font-size:140px;
line-height:140px;
}

.flex_cell.av-1b602r-9bd1edaeee5ee5eb28659b363e4ae8f2{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-1b602r-9bd1edaeee5ee5eb28659b363e4ae8f2{
padding:60px 60px 60px 60px !important;
}

#top .av-special-heading.av-m69gzp38-72f2a166a3decd627a483d72b7f7b4d9{
padding-bottom:10px;
}
body .av-special-heading.av-m69gzp38-72f2a166a3decd627a483d72b7f7b4d9 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m69gzp38-72f2a166a3decd627a483d72b7f7b4d9 .av-subheading{
font-size:15px;
}

.flex_cell.av-9ejjj7-26bb1b032e227aef729c4ed7a20b2f1e{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-9ejjj7-26bb1b032e227aef729c4ed7a20b2f1e{
padding:60px 60px 60px 60px !important;
}

#top .av-special-heading.av-m69h0erb-a66bbe21d361b553d264929a66e79aaa{
padding-bottom:10px;
}
body .av-special-heading.av-m69h0erb-a66bbe21d361b553d264929a66e79aaa .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m69h0erb-a66bbe21d361b553d264929a66e79aaa .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m69h0liq-c03c2bd487196ad71d3c7eab25b12d84 .avia_textblock{
text-align:justify;
}

.flex_cell.av-m69h33e5-4cae9b3c5462a4da24b3da45e39aacfb{
vertical-align:top;
background:url(../../2025/01/DSCF9234-1030x687.webp) 50% 50% no-repeat scroll ;
}

#top .hr.hr-invisible.av-3nc1v7-1e3d0a33c2b73015624cc219f3b7927e{
height:350px;
}

.av_font_icon.av-3i2slf-1c0b7330c5b8cfe366a13034dec54ee7{
color:#ffffff;
border-color:#ffffff;
}
.av_font_icon.av-3i2slf-1c0b7330c5b8cfe366a13034dec54ee7 .av-icon-char{
font-size:140px;
line-height:140px;
}

#top .av-special-heading.av-3z3d2b-a645dbeb6bdd7752630b9ae6fda388e1{
padding-bottom:10px;
}
body .av-special-heading.av-3z3d2b-a645dbeb6bdd7752630b9ae6fda388e1 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3z3d2b-a645dbeb6bdd7752630b9ae6fda388e1 .av-subheading{
font-size:15px;
}

#top .avia-icon-list-container.av-m69hag85-16f3508aa30779086d3593b88c73d5d1 .iconlist_icon{
background-color:#b3e5fc;
}

#top .av-special-heading.av-m69hkkiv-6ad977c86e833fda5345a6ea1e2c924d{
padding-bottom:10px;
}
body .av-special-heading.av-m69hkkiv-6ad977c86e833fda5345a6ea1e2c924d .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m69hkkiv-6ad977c86e833fda5345a6ea1e2c924d .av-subheading{
font-size:15px;
}

.avia-timeline-container.av-m69hmssv-4dc7ed467078201f44df3452dd9c12a4 .av-milestone-icon-inner{
background-color:#b3e5fc;
}
.avia-timeline-container.av-m69hmssv-4dc7ed467078201f44df3452dd9c12a4 .av-milestone-indicator{
background-color:#b3e5fc;
}
.avia-timeline-container.av-m69hmssv-4dc7ed467078201f44df3452dd9c12a4 .av-milestone-article-footer{
background-color:#b3e5fc;
}

#top #wrap_all .avia-button.av-m6f0779d-dd19b3b76205190c4bf4845fdef5a44e{
background-color:#5dade2;
border-color:#5dade2;
color:#ffffff;
border-style:solid;
border-width:1px 1px 1px 1px;
transition:all 0.4s ease-in-out;
}

#top .av-special-heading.av-e4pfaf-6c89d39622f8ab9e6720b15e37aca66e{
padding-bottom:30px;
}
body .av-special-heading.av-e4pfaf-6c89d39622f8ab9e6720b15e37aca66e .av-special-heading-tag .heading-char{
font-size:25px;
}
#top #wrap_all .av-special-heading.av-e4pfaf-6c89d39622f8ab9e6720b15e37aca66e .av-special-heading-tag{
padding:30px 0 0 0;
}
.av-special-heading.av-e4pfaf-6c89d39622f8ab9e6720b15e37aca66e .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-9k4zz-1d1fdc49b63872318fef38bd080a43c9 .avia_textblock{
text-align:justify;
}

#top .av-masonry.av-m667ljec-a262f70a0ed7bac4e3d38a522a549d54{
background-color:rgba(244,253,255,0.4);
}

#top #wrap_all .avia-button.av-m6j50zhs-d5473f56ad63daef26490ac81f029e36{
color:#5dade2;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#5dade2;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6j50zhs-d5473f56ad63daef26490ac81f029e36:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.flex_column.av-5n7aar-f70fb76d278118ebbd2101aed3293e7e{
width:23.5%;
margin-left:0;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
}
#top .flex_column_table.av-equal-height-column-flextable.av-5n7aar-f70fb76d278118ebbd2101aed3293e7e .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-4t794j-e7966d4aeb71beffbd2a004ab93a2059{
height:10px;
}

@keyframes av_boxShadowEffect_av-m6bhlpr0-2141db12ea7bc01b0ee59df74dd30b40-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-m6bhlpr0-2141db12ea7bc01b0ee59df74dd30b40{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/DSC06038-2-e1738179675789.webp) 50% 0% no-repeat scroll rgba(244,253,255,0.4);
}
#top .flex_column_table.av-equal-height-column-flextable.av-m6bhlpr0-2141db12ea7bc01b0ee59df74dd30b40 .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-5bzwoz-d991be560a5a285a9dce6dbd162b4650{
height:370px;
}

#top .av-special-heading.av-59kvz7-845790f72a4ad0b3734d318a5d766b89{
padding-bottom:10px;
}
body .av-special-heading.av-59kvz7-845790f72a4ad0b3734d318a5d766b89 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-59kvz7-845790f72a4ad0b3734d318a5d766b89 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-1ecjo6b-96921230ff4584b5ca7b28476fb2bffb .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-1cp3r4z-a2bedd3009364e8f558a793e0af185d2{
height:10px;
}

#top #wrap_all .avia-button.av-1at9u6r-c956e64780cf0c5f4b4beb46904192e6{
background-color:#5dade2;
border-color:#5dade2;
color:#ffffff;
transition:all 0.4s ease-in-out;
}

.flex_column.av-mgf8q110-e3e13ee9cb12462bae3944e640ce1a91{
width:23.5%;
margin-left:0;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
}
#top .flex_column_table.av-equal-height-column-flextable.av-mgf8q110-e3e13ee9cb12462bae3944e640ce1a91 .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-23vb5f-f32c564d79959f083e40c9b70a3a6b28{
height:10px;
}

.flex_column.av-xr5jhv-c44fc63c2a7acbd9405225a6e8a826d5{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-362wr7-01bebe393104c18b668a99ce756859fe img.avia_image{
box-shadow:none;
}
.avia-image-container.av-362wr7-01bebe393104c18b668a99ce756859fe .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-v4x9kz-0913c455d66ce842779884330d298049{
height:40px;
}

#top .flex_column.av-se6yc3-3be42d15d484aea30df87a903ff42e4e{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-se6yc3-3be42d15d484aea30df87a903ff42e4e{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-se6yc3-3be42d15d484aea30df87a903ff42e4e{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-rt1un7-e9723ef0747c4926ed324831f168c8f2{
height:1px;
}

#top .flex_column.av-qagtwj-4c6217bf188d207b3a9c098278226637{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-qagtwj-4c6217bf188d207b3a9c098278226637{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-qagtwj-4c6217bf188d207b3a9c098278226637{
margin-top:0px;
margin-bottom:0px;
}

#top .av-special-heading.av-nem6ur-0e206f7dade1c7decfc51604bc18f9d8{
padding-bottom:20px;
}
body .av-special-heading.av-nem6ur-0e206f7dade1c7decfc51604bc18f9d8 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-nem6ur-0e206f7dade1c7decfc51604bc18f9d8 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-ltsd5v-7ce20276c9ce276d553e3e223ca0191e .avia_textblock{
text-align:justify;
}

#top .flex_column.av-7vovkj-74f38e324d36417c94cf4b99bd4642e1{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-7vovkj-74f38e324d36417c94cf4b99bd4642e1{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-7vovkj-74f38e324d36417c94cf4b99bd4642e1{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-66cdeb-229147843948616077514d4849b7816a{
height:1px;
}

