.avia-section.av-4p5ahx6-7af42a683abaa52c7634d22ab7229205 .av-parallax .av-parallax-inner{
background-repeat:no-repeat;
background-image:url(../../2025/01/Fotograf1300.webp);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-4p5ahx6-7af42a683abaa52c7634d22ab7229205 .av-section-color-overlay{
opacity:0.6;
background-color:#0a0808;
}

#top .av-special-heading.av-4n7fpii-493c5f51edd97fcbacf96d44d31a1dfb{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-4n7fpii-493c5f51edd97fcbacf96d44d31a1dfb .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-4n7fpii-493c5f51edd97fcbacf96d44d31a1dfb .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-4n7fpii-493c5f51edd97fcbacf96d44d31a1dfb .av-subheading{
font-size:15px;
}

#top .hr.hr-invisible.av-m6scr9yg-65fa71deaaabb781849860becc0ae6d4{
height:50px;
}

#top #wrap_all .avia-button.av-2qu7dm-60324fdc0ad51863a3eb5916e22bec4f{
font-size:16px;
border-style:solid;
border-width:1px 1px 1px 1px;
border-color:#ffffff;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-2qu7dm-60324fdc0ad51863a3eb5916e22bec4f:hover{
color:#2a3716;
transition:all 0.4s ease-in-out;
}

#top .av_textblock_section.av-4dgq3wq-34d5f10dd8412c84a22501cc77d2072f .avia_textblock{
text-align:justify;
column-count:2;
column-gap:7%;
}

.av-hotspot-image-container .av-image-hotspot.av-4ai8ine-089788b2a3fe8fc0aea9c9401ab8f425{
top:35.4%;
left:19.4%;
}

.av-hotspot-image-container .av-image-hotspot.av-48d1vsa-27507eca029fc8b259aa83d758914e75{
top:78.6%;
left:80%;
}
.av-hotspot-image-container .av-image-hotspot.av-48d1vsa-27507eca029fc8b259aa83d758914e75 .av-image-hotspot_inner{
background-color:#d2c6af;
color:#ffffff;
}
.av-hotspot-image-container .av-image-hotspot.av-48d1vsa-27507eca029fc8b259aa83d758914e75 .av-image-hotspot-pulse{
background-color:#d2c6af;
}

.av-hotspot-image-container .av-image-hotspot.av-46wanve-60ef44e0fcb4cd29d2feffdd105a22ca{
top:78.2%;
left:90.9%;
}

.av-hotspot-image-container .av-image-hotspot.av-452rhbe-baea56ac7cb578197b259e44c9b3bdc3{
top:9.3%;
left:73.4%;
}

.av-hotspot-image-container .av-image-hotspot.av-43pixl6-2630c61fba3bc64e2462f20185b6b4c5{
top:64%;
left:43.5%;
}

#top .av-special-heading.av-3xnwkju-8b924b09ef5426abb25f42c622b1f046{
padding-bottom:10px;
}
body .av-special-heading.av-3xnwkju-8b924b09ef5426abb25f42c622b1f046 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3xnwkju-8b924b09ef5426abb25f42c622b1f046 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-dzxbnu-f878feb8571fc1bf7e8c72c35d7a528f .avia_textblock{
text-align:justify;
}

#top .av-masonry.av-2242mi-90d81403b26a9594e0ba681f899f634e{
background-color:#faf7f2;
}
.av-masonry.av-2242mi-90d81403b26a9594e0ba681f899f634e .av-image-copyright{
color:#d8d8d8;
font-size:8px;
}

.flex_cell.av-3qv0k0a-5b4179631842afd2634e65ccad177664{
vertical-align:top;
}

#top .av-special-heading.av-3nxnh2y-7060114e673fd0642649d4552fe7d49b{
padding-bottom:10px;
}
body .av-special-heading.av-3nxnh2y-7060114e673fd0642649d4552fe7d49b .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3nxnh2y-7060114e673fd0642649d4552fe7d49b .av-subheading{
font-size:15px;
}

.av_font_icon.av-jclu62-ddce581ad5a92f1131ea8563abce9d59{
color:#89a488;
border-color:#89a488;
}
.av_font_icon.av-jclu62-ddce581ad5a92f1131ea8563abce9d59 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .av_textblock_section.av-i1d3be-049bb661645868ecfe8262a7b02aaeda .avia_textblock{
font-size:8px;
}

#top .av_textblock_section.av-3h7gc6y-9459fbe70e5b6576e04b1a1b68cf8f15 .avia_textblock{
text-align:justify;
}

.flex_cell.av-ujiidm-777a14727c8b967f51b0a937fe4705f9{
vertical-align:top;
}

#top .av-masonry.av-t3c2x6-11fc50d6250b9aaa22e62f6b63044a27{
background-color:#faf7f2;
}
.av-masonry.av-t3c2x6-11fc50d6250b9aaa22e62f6b63044a27 .av-image-copyright{
color:#d8d8d8;
font-size:8px;
}

#top .av-special-heading.av-6wd08q-0e56cd09e710663ead7000826f992aa7{
padding-bottom:10px;
}
body .av-special-heading.av-6wd08q-0e56cd09e710663ead7000826f992aa7 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-6wd08q-0e56cd09e710663ead7000826f992aa7 .av-subheading{
font-size:15px;
}

.av_font_icon.av-4whrt6-28b9a58e4ba7c30d9064037690fcfd7f{
color:#89a488;
border-color:#89a488;
}
.av_font_icon.av-4whrt6-28b9a58e4ba7c30d9064037690fcfd7f .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .av_textblock_section.av-2jwpwa-54ce6bc549d5d2c9036452e5ae9d9841 .avia_textblock{
font-size:8px;
}

#top .av_textblock_section.av-g66yui-887a80b80b5d9b3fda6e64e32caaf3c2 .avia_textblock{
text-align:justify;
}

#top .av-masonry.av-30ejpuy-cf0cefc56fbd57edd97ab62cf443954e{
background-color:#faf7f2;
}
.av-masonry.av-30ejpuy-cf0cefc56fbd57edd97ab62cf443954e .av-image-copyright{
color:#d8d8d8;
font-size:8px;
}

#top .av-special-heading.av-2tzntgq-9d9c70f9a810cba43095798acbd7180b{
padding-bottom:10px;
}
body .av-special-heading.av-2tzntgq-9d9c70f9a810cba43095798acbd7180b .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2tzntgq-9d9c70f9a810cba43095798acbd7180b .av-subheading{
font-size:15px;
}

.av_font_icon.av-2pskna2-a865059035a9a68e35926583c71cf0ec{
color:#89a488;
border-color:#89a488;
}
.av_font_icon.av-2pskna2-a865059035a9a68e35926583c71cf0ec .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .av_textblock_section.av-2pg1opm-b9110b3776a6f5dc36a78a7149aadfaa .avia_textblock{
font-size:8px;
}

#top .av_textblock_section.av-2njemdm-19527d6f70ffbccf6420313cdf47c21b .avia_textblock{
text-align:justify;
}

#top .av-masonry.av-cvtkcq-74c3f6cde5026280238aad8f007fbbc9{
background-color:#faf7f2;
}
.av-masonry.av-cvtkcq-74c3f6cde5026280238aad8f007fbbc9 .av-image-copyright{
color:#d8d8d8;
font-size:8px;
}

#top .av-special-heading.av-2ewb7d6-b6837ff90ff82376e78cd9cfbdb82669{
padding-bottom:10px;
}
body .av-special-heading.av-2ewb7d6-b6837ff90ff82376e78cd9cfbdb82669 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-2ewb7d6-b6837ff90ff82376e78cd9cfbdb82669 .av-subheading{
font-size:15px;
}

.av_font_icon.av-2byku1m-a94621134230d1d8df6ef30723af24f4{
color:#89a488;
border-color:#89a488;
}
.av_font_icon.av-2byku1m-a94621134230d1d8df6ef30723af24f4 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .av_textblock_section.av-2a0xz4q-49cf5b9c3dfee8a86fc9d84363a8250d .avia_textblock{
font-size:8px;
}

#top .av_textblock_section.av-28kobxm-6cb0aaafddb4911fcc08213754f07c85 .avia_textblock{
text-align:justify;
}

#top .av-masonry.av-9rb2ga-acaeb0c128501153aa4954503fbd7358{
background-color:#faf7f2;
}
.av-masonry.av-9rb2ga-acaeb0c128501153aa4954503fbd7358 .av-image-copyright{
color:#d8d8d8;
font-size:8px;
}

#top .av-special-heading.av-1zwic16-c0c641676af3a05185b53b7ad8926275{
padding-bottom:10px;
}
body .av-special-heading.av-1zwic16-c0c641676af3a05185b53b7ad8926275 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1zwic16-c0c641676af3a05185b53b7ad8926275 .av-subheading{
font-size:15px;
}

.av_font_icon.av-1x0bovu-7eca0553b62709adaf870599c6908d5d{
color:#89a488;
border-color:#89a488;
}
.av_font_icon.av-1x0bovu-7eca0553b62709adaf870599c6908d5d .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .av_textblock_section.av-1use17e-d13acfef87e4ee20c65b70c52cc0b191 .avia_textblock{
font-size:8px;
}

#top .av_textblock_section.av-1t9pl0a-74dc6bdbc49c43540e2164cdfe036ef9 .avia_textblock{
text-align:justify;
}

#top .av-masonry.av-6g4qai-cdb1f46382111c2ac87d2008070acfbd{
background-color:#faf7f2;
}
.av-masonry.av-6g4qai-cdb1f46382111c2ac87d2008070acfbd .av-image-copyright{
color:#d8d8d8;
font-size:8px;
}

#top .av-special-heading.av-1kt3kru-e8f11a080e142c210497aa32bd4a506b{
padding-bottom:10px;
}
body .av-special-heading.av-1kt3kru-e8f11a080e142c210497aa32bd4a506b .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1kt3kru-e8f11a080e142c210497aa32bd4a506b .av-subheading{
font-size:15px;
}

.av_font_icon.av-1iipm2y-7ddcf2028453d581cf87822672465b32{
color:#89a488;
border-color:#89a488;
}
.av_font_icon.av-1iipm2y-7ddcf2028453d581cf87822672465b32 .av-icon-char{
font-size:30px;
line-height:30px;
}

#top .av_textblock_section.av-1gd16sa-6727e08462b6888348c57aa6d09f7a25 .avia_textblock{
font-size:8px;
}

#top .av_textblock_section.av-1ekrnqy-7fd475a95e7c03c351956be22cb58abd .avia_textblock{
text-align:justify;
}

#top .av-masonry.av-2hpmoa-ec8adce9059cc286f1cc4c43f7d76324{
background-color:#faf7f2;
}
.av-masonry.av-2hpmoa-ec8adce9059cc286f1cc4c43f7d76324 .av-image-copyright{
color:#d8d8d8;
font-size:8px;
}

.flex_column.av-uu53iy-95b39b5126e06c94c092858db3deda82{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-ti124q-790c6cfb1cb1cefcf89549a63a6f3734 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-ti124q-790c6cfb1cb1cefcf89549a63a6f3734 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-rzleai-e98da1545ca13cf30ac2775a47e057b4{
height:40px;
}

#top .flex_column.av-pgrpyi-d8213f793c0c83aa186873bdd0509099{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-pgrpyi-d8213f793c0c83aa186873bdd0509099{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-pgrpyi-d8213f793c0c83aa186873bdd0509099{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-nq4x4a-42832e2b0dc016afbdd1672f721b0e8d{
height:1px;
}

#top .flex_column.av-moew8a-65abcb610c998cc0ffa64ef7d7bd62d1{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-moew8a-65abcb610c998cc0ffa64ef7d7bd62d1{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-moew8a-65abcb610c998cc0ffa64ef7d7bd62d1{
margin-top:0px;
margin-bottom:0px;
}

#top .av-special-heading.av-ldxsqy-037f2c434a37df0db87556e32784f9e0{
padding-bottom:20px;
}
body .av-special-heading.av-ldxsqy-037f2c434a37df0db87556e32784f9e0 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-ldxsqy-037f2c434a37df0db87556e32784f9e0 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-jnlaa2-1bbe31464227d467c9fb4393b2470c54 .avia_textblock{
text-align:justify;
}

#top .flex_column.av-hrlxm-850d445172ba802a3c49168bd198dfcb{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-hrlxm-850d445172ba802a3c49168bd198dfcb{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-hrlxm-850d445172ba802a3c49168bd198dfcb{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-9bwai-cb660cb5eb8f0e9bdf89fd17ca022e27{
height:1px;
}


@media only screen and (max-width: 989px){ 
#top .av_textblock_section.av-4dgq3wq-34d5f10dd8412c84a22501cc77d2072f .avia_textblock{
column-count:1;
}
.av_textblock_section.av-4dgq3wq-34d5f10dd8412c84a22501cc77d2072f .avia_textblock.av_multi_colums > p:first-child{
margin-top:0.85em;
}
}
