.avia-section.av-m65exedf-42fc8cf36a8689442202adc48f4320bb{
background-repeat:no-repeat;
background-image:url(../../2025/01/Rechtliches-e1738582557840.webp);
background-position:50% 50%;
background-attachment:scroll;
}
.avia-section.av-m65exedf-42fc8cf36a8689442202adc48f4320bb .av-section-color-overlay{
opacity:0.4;
background-color:#0a0808;
}

#top .av-special-heading.av-m65eyoes-efa11bbd3fc4bd4ecf0e214c90c7cfc9{
padding-bottom:10px;
color:#ffffff;
}
body .av-special-heading.av-m65eyoes-efa11bbd3fc4bd4ecf0e214c90c7cfc9 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m65eyoes-efa11bbd3fc4bd4ecf0e214c90c7cfc9 .special-heading-inner-border{
border-color:#ffffff;
}
.av-special-heading.av-m65eyoes-efa11bbd3fc4bd4ecf0e214c90c7cfc9 .av-subheading{
font-size:15px;
}

#top .av-special-heading.av-3aqc23-8e0d350c9dbf2d219e614034dcf8e1ac{
padding-bottom:10px;
}
body .av-special-heading.av-3aqc23-8e0d350c9dbf2d219e614034dcf8e1ac .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-3aqc23-8e0d350c9dbf2d219e614034dcf8e1ac .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m6f0wekj-c49b6dbeebd9cadde89c07ef15663782 .avia_textblock{
text-align:justify;
}

#top .av-special-heading.av-m6f0ze1m-1aec99afe45d50dbdc0433562d5b4f48{
padding-bottom:10px;
}
body .av-special-heading.av-m6f0ze1m-1aec99afe45d50dbdc0433562d5b4f48 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m6f0ze1m-1aec99afe45d50dbdc0433562d5b4f48 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m6f0z9y2-f0625a4b61a02972b82a93032d684481 .avia_textblock{
text-align:justify;
}

.flex_column.av-fxp5ej-672d963b63302970d10a786cc7a7892f{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-1grxnv-67d3a2448b60bd5eb03d0520d9282f7d img.avia_image{
box-shadow:none;
}
.avia-image-container.av-1grxnv-67d3a2448b60bd5eb03d0520d9282f7d .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-ctpxy3-8f9882c41da63564179c87fda66af867{
height:40px;
}

#top .flex_column.av-b6ltaj-70b9be6fb58fc20810bb0395de4b1243{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-b6ltaj-70b9be6fb58fc20810bb0395de4b1243{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-b6ltaj-70b9be6fb58fc20810bb0395de4b1243{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-94gpbv-654f3b527ced4346188fd652291f2d7c{
height:1px;
}

#top .flex_column.av-7gckdn-fc9141e735fe351771f234ace3c646cc{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-7gckdn-fc9141e735fe351771f234ace3c646cc{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-7gckdn-fc9141e735fe351771f234ace3c646cc{
margin-top:0px;
margin-bottom:0px;
}

#top .av-special-heading.av-5oar4b-8921a73ae44214a1f836877b65f275e5{
padding-bottom:20px;
}
body .av-special-heading.av-5oar4b-8921a73ae44214a1f836877b65f275e5 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5oar4b-8921a73ae44214a1f836877b65f275e5 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m6osb696-d85de29cc1dd90621d5c70cefb2a6252 .avia_textblock{
text-align:justify;
}

#top .flex_column.av-3xwqmz-d701435e1acc232264e63776f197509b{
margin-top:0px;
margin-bottom:0px;
}
.flex_column.av-3xwqmz-d701435e1acc232264e63776f197509b{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}
.responsive #top #wrap_all .flex_column.av-3xwqmz-d701435e1acc232264e63776f197509b{
margin-top:0px;
margin-bottom:0px;
}

#top .hr.hr-invisible.av-288nsr-a2e672be23b6b5e7f1cfbb5890ffa255{
height:1px;
}

