.avia-section.av-y7jrb-66055f97da18dc648e4d4c12dfa7387d{
margin-top:50px;
}

.flex_column.av-m63l36bo-fdde29c285f6450817115655096391fd{
border-radius:50px 50px 50px 50px;
padding:5{7e575bc12087dc47f62cbe0d3473e46e9f0767e0e52bae5f3a69d4f69a29e3a2} 5{7e575bc12087dc47f62cbe0d3473e46e9f0767e0e52bae5f3a69d4f69a29e3a2} 5{7e575bc12087dc47f62cbe0d3473e46e9f0767e0e52bae5f3a69d4f69a29e3a2} 5{7e575bc12087dc47f62cbe0d3473e46e9f0767e0e52bae5f3a69d4f69a29e3a2};
}

#top .av_textblock_section.av-28jsv-018f2fe436733e8cea741376e57e3e22 .avia_textblock{
text-align:center;
}

#top .hr.hr-invisible.av-b5avb-f7c530ebbcc3091da82d735a053f9e53{
height:40px;
}

#top .av_textblock_section.av-6zxjz-d44fb38e7066405ccc7fee6de0555d17 .avia_textblock{
text-align:justify;
}

#top .av-special-heading.av-m6iooe4p-5f5d7fc81e2dc14962c3e6766a93657e{
padding-bottom:10px;
}
body .av-special-heading.av-m6iooe4p-5f5d7fc81e2dc14962c3e6766a93657e .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m6iooe4p-5f5d7fc81e2dc14962c3e6766a93657e .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-m6ioosk4-8df9dba1c9bf8511ab2126db5b765b4b .avia_textblock{
text-align:justify;
}

.flex_cell.av-17xku7-62a5c3c0484a80818eeeffb7937c475b{
vertical-align:top;
}

.flex_cell.av-10ppwf-ddf71dc07df2f38a5c9af8f2b67cc629{
vertical-align:top;
}

.flex_cell.av-v52wn-f33aadeebb791114a430c6c54c97cee0{
vertical-align:top;
}

#top .hr.hr-invisible.av-m6p4uxem-fafda49f1b4a2697b92e441164695214{
height:40px;
}

.avia-image-container.av-m6p4ol65-6110a3fc074646e8c5dcc32e4faccbfc img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6p4ol65-6110a3fc074646e8c5dcc32e4faccbfc .av-image-caption-overlay-center{
color:#ffffff;
}

.av-horizontal-gallery.av-89b1j-11a6cb1c480d3adbbfa3487b81058906{
padding:4.5% 0px;;
}
.av-horizontal-gallery.av-89b1j-11a6cb1c480d3adbbfa3487b81058906 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

.avia-section.av-14n0bj-2582329cbd572bdcbab6ba859546c511{
margin-top:-50px;
}

@keyframes av_boxShadowEffect_av-vc4rj-34b43edf365ddbdc0d7244c97aad249a-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-vc4rj-34b43edf365ddbdc0d7244c97aad249a{
box-shadow: 0 0 10px 0 #d6d6d6;
border-radius:20px 20px 20px 20px;
padding:7% 7% 7% 7%;
background-color:rgba(250,247,242,0.84);
}

#top .av-special-heading.av-m62ql75u-1cdb8159eb0051c5311a9c1550662756{
padding-bottom:30px;
}
body .av-special-heading.av-m62ql75u-1cdb8159eb0051c5311a9c1550662756 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m62ql75u-1cdb8159eb0051c5311a9c1550662756 .av-subheading{
font-size:14px;
}

#top .av_textblock_section.av-m67ok70a-85e327d8428e697b5048c7e062698258 .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-r5qf-76de8b90e58be1c8830d6d9c125131e3{
height:30px;
}

#top #wrap_all .avia-button.av-1bndz-2591a0c76ac361c2f1e410eef532ed7d{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
margin-bottom:30px;
margin-right:15px;
margin-left:15px;
}
#top #wrap_all .avia-button.av-1bndz-2591a0c76ac361c2f1e410eef532ed7d:hover{
background-color:#89a488;
color:white;
transition:all 0.4s ease-in-out;
}

#top #wrap_all .avia-button.av-8h4of-8ef6a2a80bc6cc553ac50eb267eb0ec9{
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
margin-bottom:30px;
margin-right:15px;
margin-left:15px;
}

.avia-section.av-11pta7-d4917b61913de8de2da7dabbd268ef12{
margin-top:50px;
}

.flex_column.av-w7q3z-71ecb351e8637e4a9b12fd5182514e71{
border-radius:50px 50px 50px 50px;
padding:5{7e575bc12087dc47f62cbe0d3473e46e9f0767e0e52bae5f3a69d4f69a29e3a2} 5{7e575bc12087dc47f62cbe0d3473e46e9f0767e0e52bae5f3a69d4f69a29e3a2} 5{7e575bc12087dc47f62cbe0d3473e46e9f0767e0e52bae5f3a69d4f69a29e3a2} 5{7e575bc12087dc47f62cbe0d3473e46e9f0767e0e52bae5f3a69d4f69a29e3a2};
}

.av_font_icon.av-r0xkn-137688eeda1fbf0bca8ac97b976b040b .av-icon-char{
font-size:40px;
line-height:40px;
}

#top .av_textblock_section.av-kqhkf-498fd9e3332f21e595d6cdf12ff03e87 .avia_textblock{
font-size:29px;
color:#526b25;
}

#top .hr.hr-invisible.av-1fm4v-592d3b6a89ab53aa09d42bf617584311{
margin-top:-40px;
height:1px;
}

.av_font_icon.av-101y7-a7568d3bd48018480d36a6f9777e66fa .av-icon-char{
font-size:40px;
line-height:40px;
}

@keyframes av_boxShadowEffect_av-20k55b-b94be11c5403a66d123794cd3e8d9fdb-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-20k55b-b94be11c5403a66d123794cd3e8d9fdb{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/MrslisaliFotografie-HochzeitAliciaDenis-Waldgefluester-25052024-508-1-e1737563486346.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-20k55b-b94be11c5403a66d123794cd3e8d9fdb .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-1woafb-3dbc110ef2edc6216f20320673f7ed23{
height:260px;
}

#top .av-special-heading.av-1qhid3-fa81db77ca35c2cced804b8f6993c714{
padding-bottom:30px;
}
body .av-special-heading.av-1qhid3-fa81db77ca35c2cced804b8f6993c714 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1qhid3-fa81db77ca35c2cced804b8f6993c714 .av-subheading{
font-size:14px;
}

#top .av_textblock_section.av-1n9j7j-f38af84f5212e477809da780a4a4461a .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-1dokzz-69429bcafb4e392713200f6402ae5b27{
height:10px;
}

#top #wrap_all .avia-button.av-17o63r-47d5535d17a23182ea6ec28385d0cd03{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-17o63r-47d5535d17a23182ea6ec28385d0cd03:hover{
color:white;
transition:all 0.4s ease-in-out;
}

@keyframes av_boxShadowEffect_av-84ahj-642b162816d7381def3b1fc6a34dc3d0-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-84ahj-642b162816d7381def3b1fc6a34dc3d0{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/Sophia-und-Jonas-Waldgefluester-373-2-e1738770905619.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-84ahj-642b162816d7381def3b1fc6a34dc3d0 .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-20plwn-12a2f0f9cf15cb9f1696b0cd46064adf{
height:260px;
}

#top .av-special-heading.av-1uxgun-3c4e504d73f98c04f4725acc372e14fe{
padding-bottom:30px;
}
body .av-special-heading.av-1uxgun-3c4e504d73f98c04f4725acc372e14fe .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-1uxgun-3c4e504d73f98c04f4725acc372e14fe .av-subheading{
font-size:14px;
}

#top .av_textblock_section.av-1ptpvr-507693fba51d53e81c35389317af4289 .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-1n2oan-9cf6dfcbd94eaaaedba3ce72a8b47063{
height:10px;
}

#top #wrap_all .avia-button.av-4wi9z-a1a2d9a4d279317f89ac5c685d5d98de{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-4wi9z-a1a2d9a4d279317f89ac5c685d5d98de:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.avia-section.av-7n5z3-69c59f2fab1925b647126840745d7fa9{
background-repeat:no-repeat;
background-image:url(../../2025/02/SommerUebergang.webp);
background-position:50% 50%;
background-attachment:fixed;
}

.avia-section.av-m6qj0izp-42555943c8cb2a36a41c8a55b4b7013e{
background-repeat:no-repeat;
background-image:url(../../2025/02/WinterUebergang.webp);
background-position:50% 50%;
background-attachment:fixed;
}

#top .hr.hr-invisible.av-7nohr-2610a732b9ddf38b7747fc8068872809{
height:40px;
}

.avia-image-container.av-m6p51r1s-535383f6ccfdbb0a092c0ecf59e1ba75 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-m6p51r1s-535383f6ccfdbb0a092c0ecf59e1ba75 .av-image-caption-overlay-center{
color:#ffffff;
}

.av-horizontal-gallery.av-5m213-63d19a0a1fb5601e8b8ea52294f86dd4{
padding:4.5% 0px;;
}
.av-horizontal-gallery.av-5m213-63d19a0a1fb5601e8b8ea52294f86dd4 .av-horizontal-gallery-inner{
padding-bottom:30%;
}

.avia-section.av-1h1q3z-74ab5325148342e6b110c282a4638bd8{
margin-top:-50px;
}

@keyframes av_boxShadowEffect_av-1b29xr-f0ebf95822bc7a75f5df0c00b54866fc-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 10px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-1b29xr-f0ebf95822bc7a75f5df0c00b54866fc{
box-shadow: 0 0 10px 0 #d6d6d6;
border-radius:20px 20px 20px 20px;
padding:7% 7% 7% 7%;
background-color:rgba(250,247,242,0.84);
}

#top .av-special-heading.av-13mklb-1f4f696d4f7dc3c623d9558d29b25d07{
padding-bottom:30px;
}
body .av-special-heading.av-13mklb-1f4f696d4f7dc3c623d9558d29b25d07 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-13mklb-1f4f696d4f7dc3c623d9558d29b25d07 .av-subheading{
font-size:14px;
}

#top .av_textblock_section.av-xibkv-701abdab27b060687f485de1547d63a8 .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-rtdhr-cc9e42da426c00d8967f80e210b6472e{
height:30px;
}

#top #wrap_all .avia-button.av-147vkf-9d2688846b9892e25211625f5750674b{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
margin-bottom:30px;
margin-right:15px;
margin-left:15px;
}
#top #wrap_all .avia-button.av-147vkf-9d2688846b9892e25211625f5750674b:hover{
color:white;
transition:all 0.4s ease-in-out;
}

#top #wrap_all .avia-button.av-147vkf-1-bbd4aa866c60e071b5b518e5ce603583{
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
margin-bottom:30px;
margin-right:15px;
margin-left:15px;
}

.avia-section.av-2235uv-884775de364cec9c33d492db301c400b{
background-color:#ffffff;
background-image:unset;
}

@keyframes av_boxShadowEffect_av-6y03z-7fff00d29bd691d99684e86117193953-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-6y03z-7fff00d29bd691d99684e86117193953{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/Eisstockschiessen_small.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-6y03z-7fff00d29bd691d99684e86117193953 .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-1q9sl3-45fce63bf857167baa1dfdf83a5b01c5{
height:260px;
}

#top .av-special-heading.av-m683z08p-04a5439095e90476507ca0fe03bc6d59{
padding-bottom:30px;
}
body .av-special-heading.av-m683z08p-04a5439095e90476507ca0fe03bc6d59 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-m683z08p-04a5439095e90476507ca0fe03bc6d59 .av-subheading{
font-size:14px;
}

#top .av_textblock_section.av-1mt45r-909460b3620623a8db04fcda692f6d57 .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-1gu0bz-e481dddf2c869da5a77678c18f5f59e3{
height:10px;
}

#top #wrap_all .avia-button.av-m6ikp1fl-240e8bb734f200c9444e30314cf513cc{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6ikp1fl-240e8bb734f200c9444e30314cf513cc:hover{
color:white;
transition:all 0.4s ease-in-out;
}

@keyframes av_boxShadowEffect_av-141vin-c1966f0b3c2041b1a2f3e21785647377-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-141vin-c1966f0b3c2041b1a2f3e21785647377{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/DSCF9232-1-e1737570626491.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-141vin-c1966f0b3c2041b1a2f3e21785647377 .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-wic1z-318b3733a133c6f126c6a68f628d99cc{
height:260px;
}

#top .av-special-heading.av-r1gv3-c6bada8d50e3e6805bf67437853799af{
padding-bottom:30px;
}
body .av-special-heading.av-r1gv3-c6bada8d50e3e6805bf67437853799af .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-r1gv3-c6bada8d50e3e6805bf67437853799af .av-subheading{
font-size:14px;
}

#top .av_textblock_section.av-lywbz-181897c3755c30dbeb5d040d39ecb19b .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-1nnhj-327fbeebd8bfe96c4f0c41b4e63d849c{
height:10px;
}

#top #wrap_all .avia-button.av-m6ikpo1y-7317a7d1df9e5ff5c304939e8b60423c{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6ikpo1y-7317a7d1df9e5ff5c304939e8b60423c:hover{
color:white;
transition:all 0.4s ease-in-out;
}

#top .av-special-heading.av-nksfr-9f8b833fcc1ad2550001f263103efd95{
padding-bottom:0;
}
body .av-special-heading.av-nksfr-9f8b833fcc1ad2550001f263103efd95 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-nksfr-9f8b833fcc1ad2550001f263103efd95 .av-subheading{
font-size:15px;
}

#top #wrap_all .avia-button.av-m6ikqeaj-e88122962862e02e301f63877a6c43b1{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6ikqeaj-e88122962862e02e301f63877a6c43b1:hover{
color:white;
transition:all 0.4s ease-in-out;
}

#top .av-special-heading.av-fdl4f-9f68479c1315919ce46b9ad5755c8473{
padding-bottom:0;
}
body .av-special-heading.av-fdl4f-9f68479c1315919ce46b9ad5755c8473 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-fdl4f-9f68479c1315919ce46b9ad5755c8473 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-738dr-718982ff945f10646133ff53c8157e93 .avia_textblock{
text-align:justify;
}

.flex_cell.av-3drc9j-2d91e0b69820dbce5a8cbd95501b64bf{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-3drc9j-2d91e0b69820dbce5a8cbd95501b64bf{
padding:20px 20px 20px 20px !important;
}

#top .av_textblock_section.av-m6k1oikk-12df9c7f7bd6ac69993a60209cef765e .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-2vi0on-bd42a275e41db8126f21bcb569ba01c9.av-display-circle{
margin:30% 0 30% 0;
}
.avia-animated-number.av-2vi0on-bd42a275e41db8126f21bcb569ba01c9 .avia-animated-number-circle{
width:60%;
}
.avia-animated-number.av-2vi0on-bd42a275e41db8126f21bcb569ba01c9 .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av_textblock_section.av-m6k1uc05-0fca4ebe8dc9d3cba7fefa604a73ae4d .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-2cyavj-a36d0bad0be1c7f3a0e7934fa7463b7f.av-display-circle{
margin:30% 0 30% 0;
}
.avia-animated-number.av-2cyavj-a36d0bad0be1c7f3a0e7934fa7463b7f .avia-animated-number-circle{
width:60%;
}
.avia-animated-number.av-2cyavj-a36d0bad0be1c7f3a0e7934fa7463b7f .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av_textblock_section.av-m6k1um4e-b4363961f721b26156746f5426f32b04 .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-1w3bsn-f4d9361335845c952c5f188046958be2.av-display-circle{
margin:30% 0 30% 0;
}
.avia-animated-number.av-1w3bsn-f4d9361335845c952c5f188046958be2 .avia-animated-number-circle{
width:60%;
}
.avia-animated-number.av-1w3bsn-f4d9361335845c952c5f188046958be2 .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

.flex_cell.av-6ikjz-487504b74bc13ded559f4488a4600ac4{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-6ikjz-487504b74bc13ded559f4488a4600ac4{
padding:20px 20px 20px 20px !important;
}

#top .av_textblock_section.av-m6k1v6el-108761474b0f8dc83a6a759198fce481 .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-198d93-f8f86570be631bba9a64451473b3f919.av-display-circle{
margin:30% 0 30% 0;
}
.avia-animated-number.av-198d93-f8f86570be631bba9a64451473b3f919 .avia-animated-number-circle{
width:60%;
}
.avia-animated-number.av-198d93-f8f86570be631bba9a64451473b3f919 .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av_textblock_section.av-m6k1vdjl-7a1bc70e8ba7d61c3587f85bdc814417 .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-rpbnr-09d101cbdc39d7797b0d89f19bdee4aa.av-display-circle{
margin:30% 0 30% 0;
}
.avia-animated-number.av-rpbnr-09d101cbdc39d7797b0d89f19bdee4aa .avia-animated-number-circle{
width:60%;
}
.avia-animated-number.av-rpbnr-09d101cbdc39d7797b0d89f19bdee4aa .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av_textblock_section.av-m6k1vm01-229c378cd0a31ca4b49dc5129eeaa3af .avia_textblock{
text-align:center;
}

#top .avia-animated-number.av-7ln6v-e05533cb7d6815a77e558b82f2e0fc5e.av-display-circle{
margin:30% 0 30% 0;
}
.avia-animated-number.av-7ln6v-e05533cb7d6815a77e558b82f2e0fc5e .avia-animated-number-circle{
width:60%;
}
.avia-animated-number.av-7ln6v-e05533cb7d6815a77e558b82f2e0fc5e .avia-animated-number-circle-inner{
border-style:solid;
border-color:rgba(42,55,22,0.12);
border-width:1px;
box-shadow:none;
}

#top .av_textblock_section.av-8ci0f-07e4922e9bd529db3c58353a74a0e2ab .avia_textblock{
text-align:justify;
}

.flex_cell.av-227en-e48f9dd18c9705fd445fb81b82964009{
vertical-align:top;
}

.flex_cell.av-de0qf-c46ed8a61750bcb2c5b90a07ddb58a55{
vertical-align:top;
}

.flex_cell.av-9844n-872773b561a7b04b4b51f8d05cef5468{
vertical-align:top;
}

#top .hr.hr-invisible.av-bea67-cc82918375813ba4971a17fbae7b6fca{
height:30px;
}

@keyframes av_boxShadowEffect_av-5l1jt3-404b50d3df7c9fa623525c36b9aa21cb-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-5l1jt3-404b50d3df7c9fa623525c36b9aa21cb{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/Nachhaltige-Hochzeit-in-Waldgefluester-1371-1-e1737591479610.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-5l1jt3-404b50d3df7c9fa623525c36b9aa21cb .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-5bjfg7-38ec9e16adcc6622df3cdd927c32d6cd{
height:370px;
}

#top .av-special-heading.av-5aakhb-a4b11ae8689669070351eb4b84a23107{
padding-bottom:10px;
}
body .av-special-heading.av-5aakhb-a4b11ae8689669070351eb4b84a23107 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-5aakhb-a4b11ae8689669070351eb4b84a23107 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-4zwqx3-73f32431c7c31c8da11b76cf6851414b .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-4y5etr-cc5fd6e348e7d672ce2ae14694c99385{
height:10px;
}

#top #wrap_all .avia-button.av-gw087-19fa22229ecbdea2e80b5c72f8bc141c{
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}

@keyframes av_boxShadowEffect_av-4ly2gv-fc4e7fe2dfee2d50d1989f1ff9970492-column {
0%   { box-shadow:  0 0 0 0 #d6d6d6; opacity: 1; }
100% { box-shadow:  0 0 5px 0 #d6d6d6; opacity: 1; }
}
.flex_column.av-4ly2gv-fc4e7fe2dfee2d50d1989f1ff9970492{
width:49%;
margin-left:0;
box-shadow: 0 0 5px 0 #d6d6d6;
border-radius:10px 10px 10px 10px;
padding:40px 40px 40px 40px;
background:url(../../2025/01/Waldgefluester-3.webp) 50% 0% no-repeat scroll #faf7f2;
}
#top .flex_column_table.av-equal-height-column-flextable.av-4ly2gv-fc4e7fe2dfee2d50d1989f1ff9970492 .av-flex-placeholder{
width:2%;
}

#top .hr.hr-invisible.av-4gkqlb-c284f8cf4086e302d1db68f7da328065{
height:370px;
}

#top .av-special-heading.av-47jxov-1bf4d51d69f76ca16798dabc347817c5{
padding-bottom:10px;
}
body .av-special-heading.av-47jxov-1bf4d51d69f76ca16798dabc347817c5 .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-47jxov-1bf4d51d69f76ca16798dabc347817c5 .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-41lyrb-07baa07a9b9d16c7fa196ab212a8da11 .avia_textblock{
text-align:justify;
}

#top .hr.hr-invisible.av-3v8wm7-cc9b72585798968883fee1e8165870b2{
height:10px;
}

#top #wrap_all .avia-button.av-m6iksdib-f129dfcf956211d2b82c5a97b74a305a{
color:#89a488;
border-style:solid;
border-width:2px 2px 2px 2px;
border-color:#89a488;
transition:all 0.4s ease-in-out;
}
#top #wrap_all .avia-button.av-m6iksdib-f129dfcf956211d2b82c5a97b74a305a:hover{
color:white;
transition:all 0.4s ease-in-out;
}

.flex_column.av-33t247-a894d3401f8dd7ccecb3a9e3610fd7aa{
border-radius:0px 0px 0px 0px;
padding:0px 0px 0px 0px;
}

.avia-image-container.av-2vj4t3-76ce60808a615c67856cb8e96de152f7 img.avia_image{
box-shadow:none;
}
.avia-image-container.av-2vj4t3-76ce60808a615c67856cb8e96de152f7 .av-image-caption-overlay-center{
color:#ffffff;
}

#top .hr.hr-invisible.av-2t1uav-a1f532660eeb812a235bb547298d63d4{
height:40px;
}

.flex_cell.av-3gw93-2144ebb5022c2dcd778d39a05cb65f16{
vertical-align:top;
}

.flex_cell.av-s2ujj-9629da3df1de13b6192335a2a3b669ea{
vertical-align:top;
}
.responsive #top #wrap_all .flex_cell.av-s2ujj-9629da3df1de13b6192335a2a3b669ea{
padding:30px 10% 0 10% !important;
}

#top .av-special-heading.av-iw8jb-a5c85c6e3b217c95a314ac4f680c02bf{
padding-bottom:20px;
}
body .av-special-heading.av-iw8jb-a5c85c6e3b217c95a314ac4f680c02bf .av-special-heading-tag .heading-char{
font-size:25px;
}
.av-special-heading.av-iw8jb-a5c85c6e3b217c95a314ac4f680c02bf .av-subheading{
font-size:15px;
}

#top .av_textblock_section.av-fgvy7-e01640f8706009e55e962b4e61cc92df .avia_textblock{
text-align:justify;
}

.flex_cell.av-7wwa7-fe1f229f1e18a10b86fc851e1aa6381c{
vertical-align:top;
}


@media only screen and (max-width: 479px){ 
.flex_column.av-m63l36bo-fdde29c285f6450817115655096391fd{
padding:0 0 0 0;
}

.flex_column.av-vc4rj-34b43edf365ddbdc0d7244c97aad249a{
padding:0 0 0 0;
}

.flex_column.av-w7q3z-71ecb351e8637e4a9b12fd5182514e71{
padding:0 0 0 0;
}

.flex_column.av-1b29xr-f0ebf95822bc7a75f5df0c00b54866fc{
padding:0 0 0 0;
}
}
