---json
{
 "layout": "layout.njk",
 "permalink": "en/bilder/index.html",
 "slug": "bilder",
 "pre": "../../",
 "active": "bilder",
 "logo": "standard",
 "theme": "forest",
 "pid": "1610",
 "heroLarge": "wp-content/uploads/2025/01/Fotograf1300.webp",
 "locale": "en"
}
---
