---json
{
 "layout": "layout.njk",
 "permalink": "en/faq/index.html",
 "slug": "faq",
 "pre": "../../",
 "active": "faq",
 "logo": "standard",
 "theme": "forest",
 "pid": "1559",
 "heroLarge": "wp-content/uploads/2025/01/Waldgefluester-1.webp",
 "locale": "en"
}
---
