---json
{"permalink": "en/feiern/index.html", "layout": null, "eleventyExcludeFromCollections": true}
---
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="refresh" content="0; url=../feiern-im-waldgefluester/"><link rel="canonical" href="https://waldgefluester-events.de/en/feiern-im-waldgefluester/"><title>Celebrations at Waldgeflüster</title></head><body><a href="../feiern-im-waldgefluester/">Continue to our venue rental page …</a></body></html>
