---json
{
 "layout": "layout.njk",
 "permalink": "en/index.html",
 "slug": "index",
 "pre": "../",
 "active": "index",
 "logo": "standard",
 "theme": "forest",
 "pid": "143",
 "locale": "en",
 "eventsMode": "banner"
}
---
