---json
{
 "layout": "layout.njk",
 "permalink": "en/freie-hochzeitstermine/index.html",
 "slug": "termine",
 "pre": "../../",
 "active": "freie-hochzeitstermine",
 "logo": "standard",
 "theme": "forest",
 "pid": "4947",
 "heroTitle": "Available Wedding Dates – Secure Your Date for a Forest Wedding",
 "termineList": true,
 "heroLarge": "wp-content/uploads/2025/01/SR-Ansprache-Torte-Spiel-Sparklers-89-e1737154381424.webp",
 "heroSmall": "wp-content/uploads/2025/01/SR-Ansprache-Torte-Spiel-Sparklers-89-e1737154381424-768.webp",
 "locale": "en"
}
---
