---json
{
 "layout": "layout.njk",
 "permalink": "en/trauerfeier/index.html",
 "slug": "trauerfeier",
 "pre": "../../",
 "active": "trauerfeier",
 "logo": "standard",
 "theme": "mourning",
 "pid": "5002",
 "heroLarge": "wp-content/uploads/2025/09/DSC04673-1-1440.jpg",
 "heroSmall": "wp-content/uploads/2025/09/DSC04673-1-768.jpg",
 "locale": "en"
}
---
