---json
{
 "layout": "layout.njk",
 "permalink": "en/winter/index.html",
 "slug": "winter",
 "pre": "../../",
 "active": "winter",
 "logo": "winter",
 "theme": "winter",
 "pid": "1987",
 "heroLarge": "wp-content/uploads/2025/10/Gastraum.webp",
 "locale": "en"
}
---
