---json
{
 "layout": "layout.njk",
 "permalink": "eigene-events/index.html",
 "slug": "events",
 "pre": "../",
 "active": "eigene-events",
 "logo": "standard",
 "theme": "forest",
 "pid": "5003",
 "heroLarge": "wp-content/uploads/2025/01/DJI_0782.webp",
 "heroSmall": "wp-content/uploads/2025/01/DJI_0782-768.webp",
 "eventsMode": "list"
}
---
