---json
{
 "layout": "layout.njk",
 "permalink": "feiern/index.html",
 "slug": "feiern",
 "pre": "../",
 "active": "feiern",
 "logo": "standard",
 "theme": "forest",
 "pid": "5001",
 "heroLarge": "wp-content/uploads/2025/01/07_Laura-und-Marc-Come-Together-2-1.webp",
 "heroSmall": "wp-content/uploads/2025/01/07_Laura-und-Marc-Come-Together-2-1-768x512.webp"
}
---
