---json
{
 "layout": "layout.njk",
 "permalink": "feiern/index.html",
 "slug": "feiern",
 "pre": "../",
 "active": "feiern",
 "logo": "standard",
 "pid": "5001",
 "fullHead": false,
 "fullFooter": false,
 "htmlTag": "<html lang=\"de\" class=\"html_stretched responsive av-preloader-disabled  html_header_top html_logo_left html_main_nav_header html_menu_right html_slim html_header_sticky html_header_shrinking_disabled html_header_transparency html_mobile_menu_tablet html_header_searchicon_disabled html_content_align_center html_header_unstick_top_disabled html_header_stretch html_minimal_header html_elegant-blog html_av-submenu-hidden html_av-submenu-display-click html_av-overlay-full html_31 html_av-submenu-noclone html_entry_id_5001 av-cookies-consent-show-message-bar av-cookies-cookie-consent-enabled av-cookies-can-opt-out av-cookies-user-silent-accept avia-cookie-check-browser-settings av-no-preview av-default-lightbox html_text_menu_active av-mobile-menu-switch-default\">",
 "bodyTag": "<body id=\"top\" class=\"wp-singular page-template-default page page-id-5001 wp-theme-enfold wp-child-theme-enfold-child stretched rtl_columns av-curtain-numeric quicksand open_sans  post-type-page avia-responsive-images-support av-recaptcha-enabled av-google-badge-hide\" itemscope=\"itemscope\" itemtype=\"https://schema.org/WebPage\" >",
 "kontaktHeading": "",
 "kontaktText": "",
 "heroLarge": "wp-content/uploads/2025/01/07_Laura-und-Marc-Come-Together-2-1.webp",
 "heroSmall": "wp-content/uploads/2025/01/07_Laura-und-Marc-Come-Together-2-1-768x512.webp"
}
---
