---json
{
 "layout": "layout.njk",
 "permalink": "heiraten-schwaebische-alb/index.html",
 "slug": "heiraten",
 "pre": "../",
 "active": "heiraten-schwaebische-alb",
 "logo": "standard",
 "theme": "forest",
 "pid": "1143",
 "heroLarge": "wp-content/uploads/2025/01/SR-Ansprache-Torte-Spiel-Sparklers-89-e1737154381424.webp",
 "heroSmall": "wp-content/uploads/2025/01/SR-Ansprache-Torte-Spiel-Sparklers-89-e1737154381424-768.webp"
}
---
