---json
{
 "layout": "layout.njk",
 "permalink": "location-schwaebische-alb/index.html",
 "slug": "location",
 "pre": "../",
 "active": "location-schwaebische-alb",
 "logo": "standard",
 "theme": "forest",
 "pid": "3516",
 "heroLarge": "wp-content/uploads/2025/01/07_Laura-und-Marc-Come-Together-2-1.webp",
 "heroSmall": "wp-content/uploads/2025/01/07_Laura-und-Marc-Come-Together-2-1-768x512.webp"
}
---
