---json
{
 "layout": "layout.njk",
 "permalink": "rechtliches/index.html",
 "slug": "rechtliches",
 "pre": "../",
 "active": "rechtliches",
 "logo": "standard",
 "theme": "forest",
 "pid": "3371",
 "noEn": true
}
---
