---json
{
 "layout": "layout.njk",
 "permalink": "freie-hochzeitstermine/index.html",
 "slug": "termine",
 "pre": "../",
 "active": "freie-hochzeitstermine",
 "logo": "standard",
 "theme": "forest",
 "pid": "4947",
 "heroTitle": "Freie Hochzeitstermine – euer Wunschtermin für eure Hochzeit im Wald",
 "termineList": true,
 "heroLarge": "wp-content/uploads/2025/01/SR-Ansprache-Torte-Spiel-Sparklers-89-e1737154381424.webp",
 "heroSmall": "wp-content/uploads/2025/01/SR-Ansprache-Torte-Spiel-Sparklers-89-e1737154381424-768.webp"
}
---
